.megadraft-editor {
	.megadraft-block {
		padding-bottom: 0;
	}
	.DraftEditor-root {
		background: transparent !important;
		padding: 0 !important;
		font-family: inherit !important;
		font-size: inherit !important;
		line-height: 1.4em;
		letter-spacing: 0;
	}

	.sidemenu {
		z-index: 200;

		.sidemenu__button__icon.text {
			font-weight: bold;
			font-size: 10pt;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			margin: auto;
		}

		@media #{$desktop-and-tablet} {
			.pop-up-dialog {
				text-align: left;
			}
		}
	}

	.paragraph {
		margin-bottom: 20pt;
		& + .paragraph {
			margin-top: 0;
		}
	}
	.editor__link {
		font-weight: 600;
		color: $mainColour;
		&:hover {
			color: lighten($mainColour, 20%);
		}
	}

	blockquote {
		color: #555;
		margin-bottom: 24px;
	}

	.custom-block {
		max-width: 100%;
		max-height: 100vh;

		&.placeholder {
			width: 100%;
			background: #ccc;
			display: block;
			font-style: italic;
			text-align: center;
			padding: 8pt 2pt;
			margin-bottom: 8pt;
		}

		& > *,
		.twitter-tweet {
			display: block;
			left: 0;
			right: 0;
			margin: auto;
			max-width: 100%;
		}

		&.image-wrapper {
			margin-bottom: 10pt;
		}

		&.sporcle-wrapper {
			.sporcle-iframe {
				width: 100%;
				min-width: 100%;
				min-height: 50vh;
			}
		}
	}

	.youtube-wrapper {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;

		iframe,
		object,
		embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.sporcle-preview {
		border: solid 1pt black;
	}
}

.post-preview {
	@include pseudoImage;
	background-size: cover;
	display: grid;

	&.placeholder {
		background: #aaa;
		animation: linear backgroundChange 1s infinite;
		@keyframes backgroundChange {
			0% {
				background: #aaa;
			}
			50% {
				background: #bbb;
			}
			100% {
				background: #aaa;
			}
		}
	}

	&:not(.hide-image) {
		padding-top: 30%;

		@media #{$small-mobile} {
			padding-top: 20%;
		}
	}
	&:hover p {
		color: #444;
	}
	.post-image {
		@include pseudoImage;
		background-size: cover;
		padding-top: 40%;
	}

	.post-meta {
		background: rgba($mainColour, 0.8);
		padding: 4%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title {
			color: $trimColour;
			font-size: 1.1em;
			margin-bottom: 6pt;
		}
		h6 {
			padding-top: 6pt;
			border-top: solid thin $trimColour;
			color: white;
			display: flex;
			justify-content: space-between;
		}
	}

	&.unpublished .post-meta {
		background: rgba(black, 0.75);
	}
}

.news-post {
	.post-wrapper {
		.post-header,
		.post-body,
		.post-comments {
			line-height: 1.4;
			box-shadow: 2pt 2pt 4pt rgba(0, 0, 0, 0.4);
		}

		.post-header {
			user-select: none;
			h6 {
				color: white;
			}
			&,
			& h1 {
				color: $trimColour;
				text-align: left;
			}
		}

		.post-body,
		.post-comments {
			background: #f4f4f4;
			padding: 4%;
		}

		.post-body {
			figcaption.md-block-image-caption--empty {
				display: none;
			}

			.pre-article-content {
				position: relative;
				margin-bottom: 20pt;

				.game-events-wrapper .events {
					box-shadow: none;
				}
			}
			.post-article-content {
				.pregame-squads {
					@media #{$desktop-only} {
						img {
							max-width: 50%;
						}
					}
				}
			}

			.post-body-header {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.post-author,
				.post-share {
					border-bottom: solid 1pt $mainColour;
					margin-bottom: 8pt;
					padding-bottom: 8pt;
				}
				.post-author {
					display: flex;
					align-items: center;
					flex-grow: 100000000; //Only allows .post-share to grow when on its own row
					padding-right: 4pt;
					.author-image {
						height: 40pt;
						width: 40pt;
						margin-right: 8pt;
						border-radius: 100%;
						position: relative;
						img {
							position: absolute;
							max-width: 100%;
							max-height: 100%;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							margin: auto;
						}
					}
					h4 {
						font-size: 14pt;
						margin-bottom: 0;
					}
					a {
						color: $twitterBlue;
						font-weight: bold;
						&:hover {
							color: darken($twitterBlue, 10%);
						}
					}
				}
				.post-share {
					display: flex;
					flex-grow: 1;
					align-items: center;
					svg {
						cursor: pointer;
					}
				}
			}
			p {
				margin-bottom: 8pt;
			}
			h6 {
				font-size: 16pt;
				&:not(:first-child) {
					margin-top: 12pt;
				}
			}
		}
		.post-comments {
			.fb-comments iframe {
				width: 100% !important;
			}
		}

		.other-posts {
			grid-row-end: span 2;
			h4 {
				font-size: 16pt;
			}
			.post-preview {
				margin: 10pt 0;
			}
		}
	}

	@media #{$desktop-only} {
		.post-wrapper {
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-gap: 10pt;
			padding: 14pt 0;
			.post-header {
				grid-column: span 2;
				h1 {
					font-size: 3em;
				}
				h6 {
					font-size: 13pt;
				}
			}
		}
	}

	@media #{$mobile-and-tablet} {
		.other-posts {
			display: none;
		}

		.post-wrapper .post-header .post-meta {
			height: auto;
		}

		.container {
			padding: 0;
		}
	}
}

.news-post-list {
	display: grid;
	grid-gap: 12pt;
	.card {
		height: 100%;
		display: flex;
		flex-direction: column;
		h6 {
			font-size: 0.8em;
		}
	}
	.post-preview {
		flex-grow: 1;
	}
	@media #{$mobile-only} {
		.card {
			.post-meta .title {
				font-size: 0.85em;
			}
		}
		grid-template-columns: 1fr;
	}

	@media #{$desktop-and-tablet} {
		grid-template-columns: repeat(auto-fill, minmax(270pt, 1fr));
	}
}
.post-pagination {
	ul {
		user-select: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 20pt 0;
		a {
			width: 20pt;
			height: 20pt;
			margin: 0 4pt;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			border-radius: 100%;

			&.current-page {
				pointer-events: none;
				background: $mainColour;
				color: white;
			}

			@media #{$desktop-only} {
				&:hover {
					color: $mainColour;
					background: rgba(white, 0.8);
				}
			}
		}
	}
}

.admin-news-content-wrapper {
	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		grid-gap: 10pt;

		form {
			grid-column: 2;
		}
	}
}
