.person-image {
	pointer-events: none;
}

a .person-image {
	pointer-events: initial;
}

.person-card-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: box-shadow 200ms;
	-webkit-font-smoothing: antialiased;

	@media #{$mobile-only} {
		padding-top: 20pt;
	}
	@media #{$desktop-and-tablet} {
		padding-top: 20%;
	}

	&:hover {
		.person-card {
			box-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.5);
			.trim {
				color: darken($trimColour, 7%);
			}
		}
	}

	.person-card {
		display: flex;
		height: 100%;
		border-radius: 0 4pt;
		overflow: hidden;
		box-shadow: 3pt 3pt 4pt rgba(0, 0, 0, 0.5);

		.trim,
		.main {
			display: flex;
			flex-direction: column;
		}
		.trim {
			background: white;
			font-family: "Montserrat";
			font-weight: bold;
			font-size: 1.2em;
			color: $mainColour;
			min-width: 30%;
			padding: 10pt;
			min-height: 92pt;
		}
		.main {
			background: $mainColour;
			flex-grow: 1;
			justify-content: center;
			padding: 20pt 10pt 20pt 23%;
			font-size: 12pt;
			color: white;
			.name {
				color: inherit;
				text-shadow: 1px 1px 1px black;
				font-size: 1.3em;
				&.long {
					font-size: 1.1em;
				}
				span {
					color: $trimColour;
					display: block;
				}
			}
			.additional-data {
				font-weight: 600;
				color: #eee;
			}
			.positions {
				span {
					display: inline-block;
					&:not(:first-child) {
						font-weight: 400;
					}
					&:not(:last-child)::after {
						content: ",";
						margin-right: 2pt;
					}
				}
			}
			@media #{$mobile-only} {
				font-size: 10pt;
			}
		}
	}
	.person-image-wrapper {
		position: absolute;
		display: flex;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		max-height: 100%;
		width: 100%;
		align-items: flex-start;
		overflow: hidden;
		pointer-events: none;
		.person-image {
			pointer-events: none;
			top: 0;
			margin-left: 6%;
			width: 45%;
		}
	}
}

.person-card-grouping {
	display: grid;
	grid-gap: 10pt;
	padding: 10pt 5%;
	@media #{$desktop-and-tablet} {
		grid-template-columns: repeat(auto-fill, minmax(270pt, 1fr));
	}
	@media #{$mobile-only} {
		grid-template-columns: 1fr;
	}
}

.person-page {
	section.header {
		position: relative;
		overflow: hidden;
		.container {
			.person-image {
				-webkit-filter: drop-shadow(0 0 4pt rgba(0, 0, 0, 0.5));
				-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#00000088')";
				filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#00000088')";
			}
			.overlay {
				color: white;
				h1 {
					color: white;
					line-height: 1.1;
					span {
						color: $trimColour;
					}
				}
				.positions {
					margin-bottom: 4pt;
					.position {
						font-size: 14pt;
						padding: 0 4pt;
						display: inline-block;
						&:first-child {
							padding-left: 0;
							font-weight: 600;
						}
						&:not(:first-child) {
							border-left: solid 1pt rgba(white, 0.4);
							opacity: 0.8;
						}
					}
				}
				.social {
					a {
						display: flex;
						align-items: center;
						vertical-align: middle;
					}
				}
			}
		}

		.background {
			position: absolute;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			z-index: -1;
			background-size: cover;
			background-repeat: no-repeat;
			filter: blur(2px);
		}

		@media #{$mobile-and-tablet} {
			.background {
				width: 100%;
				background-position: center;
			}
			.container {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				max-height: 100%;
				padding-left: 0;
				padding-right: 0;
				.person-image {
					height: 50vh;
				}
				.overlay {
					padding: 10pt;
					background: $mainColour;
					width: 100%;
					h1,
					.social {
						border-width: 1pt;
					}
					h1 {
						font-size: 1.8em;
						margin-bottom: 2pt;
						span {
							display: inline-block;
						}
					}
					.social {
						display: flex;
						justify-content: space-around;
						a {
							font-size: 11pt;
							margin-bottom: 2pt;
							img {
								height: 12pt;
								margin-right: 8pt;
							}
						}
					}
					.positions {
						text-align: center;
					}
				}
			}
		}

		@media #{$desktop-only} {
			height: 40vh;
			.background {
				background-position: 100% 50%;
				width: 60%;
			}
			.container {
				display: flex;
				align-items: stretch;
				min-height: 100%;
				.overlay {
					background: darken($mainColour, 5%);
					position: relative;
					flex-grow: 1;
					margin-left: 10%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 20pt;
					color: white;

					&::before,
					&::after {
						content: "";
						position: absolute;
						height: 100%;
						top: 0;
						bottom: 0;
					}
					&::after {
						right: 99%;
						width: 30%;
						background-image: url("#{$googleBucket}images/layout/person-header-divider.png");
						@include pseudoImage;
						background-size: cover;
						background-position: right center;
					}
					&::before {
						background: inherit;
						left: 99%;
						width: 400vw;
					}

					h1 {
						text-align: left;
						font-size: 4em;
						line-height: 1.1;
						span {
							display: block;
						}
					}
					.positions {
						border-top: solid 2pt $trimColour;
						padding: 8pt 0 4pt;
					}

					.social {
						padding: 8pt 0;
						border-top: solid 2pt white;
						a {
							font-size: 14pt;
							margin-bottom: 4pt;
							img {
								height: 20pt;
								margin-right: 10pt;
							}
						}
					}
				}
				.person-image {
					max-height: 40vh;
					margin-right: 5%;
					pointer-events: none;
					align-self: flex-end;
				}
			}
		}
	}

	section.person-data {
		padding: 20pt 0;
		.container {
			display: grid;
			grid-gap: 20pt;
			& > div {
				padding: 16pt;
				background: #f4f4f4;
				box-shadow: 2pt 2pt 4pt rgba(black, 0.5);
				&.description {
					display: flex;
					flex-direction: column;
					justify-content: center;
					p {
						padding: 8pt;
					}
				}
			}

			@media #{$desktop-only} {
				grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
			}
		}
	}

	section.player-stats {
		.section-header {
			background: darken($mainColour, 5%);
			padding: 20pt 0;
			h1,
			h2,
			h4 {
				color: white;
			}

			h1 option {
				color: black;
			}
		}
		h2 {
			font-size: 2em;
			text-align: center;
			margin: 8pt 0 4pt;
			color: #222;
		}

		.no-games-found {
			text-align: center;
			font-size: 2em;
			padding-top: 20pt;
			padding-bottom: 20pt;
		}

		.single-stat-boxes {
			margin-bottom: 10pt;
			&.positions {
				margin-top: 10pt;
				table {
					width: 100%;
					text-align: left;
					white-space: nowrap;
					vertical-align: middle;
					th,
					td {
						box-sizing: border-box;
						padding: 4pt 10pt;
					}
					td {
						width: 100%;
						position: relative;
						.position-bar {
							color: white;
							font-weight: bold;
							padding: 4pt 10pt;
							text-align: right;
							background-color: $mainColour;
							height: 80%;
							display: block;
							border-radius: 4pt 10pt 10pt 4pt;
						}
					}
				}
				@media #{$mobile-only} {
					grid-template-columns: 1fr;
				}
				@media #{$desktop-and-tablet} {
					grid-template-columns: 1fr 2fr;
				}
			}
		}
	}
}

.admin-person-list {
	.plain-list {
		li {
			a {
				display: flex;
				align-items: center;
				span {
					height: 14pt;
					width: 16pt;
					margin-right: 4pt;
					display: flex;
					align-content: center;
					justify-content: center;

					img {
						max-height: 100%;
						max-width: 100%;
					}
				}
			}
		}
	}
}

.admin-player-details-page {
	.game-list-link {
		@include link;
	}

	.player-game-list {
		li {
			a {
				color: black !important;
				&:hover {
					color: $mainColour !important;
				}
				padding: 2pt 0;
			}
			&:not(first-child) h6 {
				margin: 8pt 0 0;
				font-size: 15pt;
			}
		}
	}
}

.admin-person-image-card-page {
	.summary {
		&.disabled {
			pointer-events: none;
		}

		&:not(.disabled) {
			li:hover {
				background: #f4f4f4;
				cursor: pointer;
			}
		}
		li {
			padding: 20pt;
			strong {
				display: block;
				font-size: 1.1em;
			}
			&:not(:last-child) {
				border-bottom: 1pt #e4e4e4 solid;
			}

			@media #{$mobile-only} {
				text-align: center;
			}
			@media #{$desktop-and-tablet} {
				display: flex;
				.content {
					flex-grow: 1;
				}
			}
		}
	}
	.row-editor {
		.colour-buttons {
			justify-content: flex-start;
			button:not(:last-child) {
				margin-right: 3pt;
			}
		}
	}
}
