.league-table {
	width: 100%;
	th,
	td {
		vertical-align: middle;
	}
	thead th {
		position: relative;
		text-align: center;
		background: #333;
	}
	tbody {
		tr {
			border-color: rgba(black, 0.05);
			th,
			td {
				background: transparent;
				color: inherit;
				padding-top: 8pt;
				padding-bottom: 8pt;
			}
			&:hover {
				th,
				td {
					background: rgba(black, 0.05);
				}
			}
			background: white;
			&.champions {
				background: #518c56;
				color: white;
			}
			&.top {
				background: #77b66b;
				color: white;
			}
			&.bottom {
				background: #b63c3d;
				color: white;
			}
			&.highlight {
				border-left: solid 5pt $mainColour;
				font-weight: bold;
			}
			th {
				font-weight: 600;
				&.team-badge {
					text-align: center;
				}
				&.team-name {
					text-align: left;
					width: 100%;
				}
			}
			td {
				text-align: center;
				&:last-child {
					font-weight: 600;
				}
			}
		}
	}
	@media #{$desktop-and-tablet} {
		thead th {
			padding-top: 16pt;
			padding-bottom: 16pt;
			.competition-logo {
				position: absolute;
				padding: 6pt;
				z-index: 2;
				max-height: 100%;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
		.team-badge {
			img {
				max-height: 20pt;
			}
		}
	}
	@media #{$mobile-only} {
		font-size: 0.9em;
		td,
		th {
			padding: 4pt;
			&.team-badge {
				padding-left: 0;
				padding-right: 0;
				img {
					max-height: 16pt;
				}
			}
		}
		.team-name,
		.Pld,
		.F,
		.A {
			display: none;
		}
		.competition-logo {
			display: none;
		}
	}
}

.season-page {
	h2 {
		font-size: 2.4em;
		margin-bottom: 10pt;
		text-align: center;
	}
	.page-menu {
		margin-top: 5pt;
		padding-top: 5pt;
		border-top: solid 1pt #ddd;
	}
	section.season-overview {
		@media #{$mobile-only} {
			padding-top: 20pt;
		}

		@media #{$desktop-and-tablet} {
			padding-top: 40pt;
		}
	}

	section.season-overview {
		.info-table,
		.league-table {
			margin-bottom: 20pt;
		}
	}

	section.stat-type-switch {
		padding: 1.8em 0;
		h3 {
			text-align: center;
			font-size: 1.8em;
			&:not(:first-child) {
				margin-top: 1em;
			}
		}
		.page-switch {
			margin: 0;
		}
	}

	section.player-leaderboards {
		@media #{$mobile-only} {
			.container {
				padding: 0;
			}
		}
		.leaderboard-wrapper {
			background: #eee;
			margin-bottom: 20pt;
			padding: 20pt;
			box-shadow: 2pt 2pt 2pt rgba(0, 0, 0, 0.5);
			.leaderboards {
				display: grid;
				grid-gap: 20pt;
				width: 100%;

				.leaderboard {
					user-select: none;
					display: flex;
					position: relative;
					.leader {
						left: 0;
						top: 0;
						bottom: 0;
						margin: auto;
						display: block;
						img {
							position: absolute;
							margin: auto;
						}
					}
					.list {
						@include header;
						padding: 1em;
						position: relative;
						grid-gap: 0.9em;
						background: darken($mainColour, 5%);
						color: white;
						display: grid;
						grid-template-columns: auto 1fr auto;
						align-items: center;
						& > *:nth-child(-n + 3) {
							color: $trimColour;
							a:hover {
								color: lighten($trimColour, 20%);
							}
						}
						h6 {
							position: absolute;
							bottom: 100%;
							span {
								display: block;
								font-size: 0.7em;
							}
						}
						span {
							display: inline-block;
						}
						.value {
							text-transform: none;
						}
					}
				}
			}
			@media #{$mobile-only} {
				h2 {
					margin: 0;
					font-size: 1.5em;
				}
				.leaderboards {
					max-height: 70vh;
					overflow: auto;
					.leaderboard {
						z-index: 1;
						flex-direction: column;
						.leader {
							width: 100%;
							z-index: -1;
							height: 8em;
							img {
								max-height: 100%;
								max-width: 50%;
								left: 40%;
								right: 0;
								top: 0;
							}
						}
						.list {
							box-shadow: 2pt 2pt 2pt rgba(0, 0, 0, 0.5);
							border-radius: 0 4pt 4pt 4pt;
							width: 100%;
							h6 {
								background: white;
								padding: 4pt 8pt;
								border-radius: 4pt 4pt 0 0;
								color: $mainColour;
								font-size: 1em;
								box-shadow: inherit;
								z-index: -1;
							}
						}
					}
				}
			}
			@media #{$desktop-and-tablet} {
				border-radius: 4pt;
				.leaderboards {
					grid-template-columns: repeat(auto-fill, minmax(310pt, 1fr));
					.leaderboard {
						$playerOverhang: 30pt;
						margin-top: $playerOverhang;
						min-height: 140pt;
						background: #fff;
						justify-content: flex-end;
						box-shadow: 2pt 2pt 2pt rgba(0, 0, 0, 0.5);
						border-radius: 4pt;

						.leader {
							position: absolute;
							z-index: 2;
							width: 40%;

							img {
								max-height: calc(100% + 30pt);
								max-width: 100%;
								bottom: 0;
								left: 0;
								right: 0;
							}
						}

						.list {
							width: 80%;
							padding-left: 20%;
							.name {
								max-height: 120pt;
								overflow: auto;
							}
							h6 {
								right: 0;
								font-size: 20pt;
								text-align: right;
								&.with-condition {
									font-size: 16pt;
								}
							}
						}
					}
				}
			}
		}
	}
	section.player-stat-tables {
		tbody th {
			text-align: left;
		}
	}

	@media #{$mobile-only} {
		.custom-game-stat-header {
			min-width: 8em;
		}
	}
}
