.basic-social-thread-page {
	padding: 20pt 0;
}

.social-post-threader {
	align-items: start;

	.social-post-list {
		user-select: none;
		h6 {
			padding: 20pt;
			margin: 0;
		}
		ul {
			max-height: 60vh;
			overflow: auto;

			li {
				padding: 6pt 20pt;
				border-top: solid #ccc 1pt;
				&:not(.reordered):not(.active):hover {
					transition: background-color 100ms;
					cursor: pointer;
					background: #f4f4f4;
					&.invalid {
						background: #aa0000;
					}
				}
				&.invalid {
					background: #990000;
					color: white;
				}
				&.active {
					background: $mainColour;
					color: white;
				}

				&.reordered {
					transition: transform 200ms;
					&.reordered-1 {
						transform: translateY(100%);
					}

					&.reordered-2 {
						transform: translateY(-100%);
					}
				}

				&.new {
					padding-top: 14pt;
					padding-bottom: 14pt;
				}

				.post-header {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

				button {
					font-size: 0.7em;
					padding: 2pt 5pt;
				}
			}
		}
	}

	.type-selector {
		li {
			font-size: 0.8em;
			padding: 6pt 0;
			border: none;
			&.header {
				margin-top: 6pt;
				border: none !important;
			}
		}
	}

	@media #{$desktop-and-tablet} {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 20pt;

		.form-card {
			margin: 0;
		}

		.settings {
			grid-column: 1 / span 2;
		}
	}
}
