.squad-selector {
	display: grid;
	grid-gap: 10pt;
	margin-bottom: 10pt;
	user-select: none;

	.squad-selector-card {
		user-select: none;
		display: flex;
		align-content: stretch;
		background: white;
		justify-content: center;
		min-height: 30pt;
		position: relative;
		font-weight: 600;

		&.read-only {
			pointer-events: none;
			.position {
				border-left-width: 0;
			}
		}

		&.with-gap {
			margin-bottom: 8pt;
		}

		.position,
		.main,
		.three-dot-menu,
		.actions .action {
			cursor: pointer;
			padding: 8pt;
		}

		&:not(.clickable) {
			.position,
			.main {
				cursor: default;
			}
		}

		.position,
		.actions {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.position {
			box-sizing: content-box;
			min-width: 18pt;
			border-left-width: 8pt;
			border-left-style: solid;
		}

		&:hover .position,
		.position.active {
			border-left-color: inherit !important;
		}

		.main {
			flex-grow: 1;
			border-left-style: solid;
			border-left-width: 6pt;
			border-color: inherit;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			.positions {
				font-weight: normal;
			}
		}

		.actions {
			display: flex;

			.action {
				&:not(:hover) {
					//This allows us to dynamically set the hover
					//properties based on team colours
					background: inherit !important;
					color: inherit !important;
				}
				&.disabled {
					pointer-events: none;
					opacity: 0.2;
					cursor: default;
				}
			}
		}

		@media #{$desktop-and-tablet} {
			.three-dot-menu {
				display: none;
			}
		}

		@media #{$mobile-only} {
			overflow: hidden;
			.actions {
				position: absolute;
				background: inherit;
				top: 0;
				right: 0;
				bottom: 0;
				transform: translateX(100%);
				margin: auto;
			}
			&.show-mobile-actions {
				.position,
				.name {
					filter: blur(1pt);
				}
				.actions {
					transition: transform 200ms;
					transform: none;
				}
			}
		}
	}

	.available {
		.active-position-instruction {
			margin-bottom: 8pt;
			font-weight: 600;
			display: flex;
			flex-direction: column;
		}
		select {
			margin-top: 10pt;
			padding: 2pt 4pt;
			width: 100%;
			border-radius: 4pt;
		}

		.cards-wrapper {
			overflow: auto;
			max-height: 70vh;
			@media #{$desktop-and-tablet} {
				height: 485pt;
			}
		}

		.squad-selector-card {
			&:not(.with-gap):not(:last-child) {
				box-shadow: none;
			}
		}
		@media #{$desktop-and-tablet} {
			.cards:hover {
				.squad-selector-card.clickable {
					&:not(:hover) {
						opacity: 0.95;
					}
				}
			}
			.squad-selector-card {
				transition: opacity 200ms;
			}
		}
	}

	.buttons {
		margin-top: 10pt;
	}

	@media #{$desktop-and-tablet} {
		grid-template-columns: 1fr 1fr;
	}
}

.shareable-team-selector {
	.confirmation {
		background: #eee;
		padding: 14pt;
		text-align: center;
		margin-bottom: 20pt;
		p:not(:last-child) {
			margin-bottom: 10pt;
		}
	}
}

.admin-team-selector-page {
	.page-header {
		.disclaimer {
			font-style: italic;
			text-align: center;
			margin-bottom: 10pt;
		}
	}
}

.admin-team-selector-players-page {
	.actionable-player {
		user-select: none;
		padding: 4pt 8pt;
		cursor: pointer;

		&.read-only {
			pointer-events: none;
		}

		@media #{$desktop-only} {
			display: inline-flex;
			position: relative;
			background-color: #eee;
			flex-direction: row-reverse;
			margin: 0 4pt 4pt 0;
			overflow: hidden;

			&:hover {
				color: white;
				&.add {
					background-color: #060;
				}

				&.remove {
					background-color: #900;
				}
			}
		}
	}
}
