.form-card {
	background: #fff;
	display: grid;
	align-items: center;
	grid-template-columns: minmax(min-content, 1fr) minmax(250px, 10fr);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
	padding: 20pt;

	h6,
	.error,
	.buttons {
		grid-column: 1 / -1;
	}

	h6 {
		font-size: 1.4em;
		&:not(:first-child) {
			margin-top: 10pt;
		}
	}

	.error {
		margin-bottom: 10pt;
		display: block;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
	}

	input {
		padding: 2pt 4pt;
		font-size: 12pt;
		outline: none;
		border: none;
		border-bottom: solid thin #222;
	}

	label {
		white-space: nowrap;
		&.required::after {
			content: "*";
			color: $claret;
			font-weight: bold;
			margin: 0 2pt;
			display: inline-block;
		}
	}

	.error {
		color: #900;
	}

	button {
		background: #eee;
		font-size: 12pt;
		padding: 2pt 4pt;
		outline: none;
		cursor: pointer;
		border-radius: 2pt;

		&:hover {
			background: #ddd;
		}
	}
}

.login-card {
	left: 0;
	right: 0;
	margin: auto;
	width: auto;
	display: block;
	max-width: 400px;
	padding: 5%;

	form {
		display: flex;
		flex-direction: column;
		label,
		input,
		.error {
			display: block;
			width: 100%;
		}

		.field-group {
			margin-bottom: 8pt;
		}
	}
}

.nav-card {
	padding: 10pt;
	margin: 10pt 0 14pt;
	background: $claret;
	font-weight: 600;
	border-radius: 4pt;
	color: white;
	font-size: 1.4em;
	display: inline-block;
	width: 100%;
}
