.block-card,
.form-card {
	background: #fff;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
	&:not(.no-padding) {
		padding: 20pt;
	}
	margin-bottom: 20pt;
}

.form-card {
	&.grid {
		display: grid;
		grid-row-gap: 8pt;
		align-items: center;
		h6,
		.error,
		.buttons,
		.table-wrapper,
		.md-RichEditor-root,
		hr,
		.full-span {
			grid-column: 1 / -1;
			max-width: 100%;
		}
	}
	hr {
		width: 100%;
		border: none;
		border-bottom: thin dotted #bbb;
	}

	&.no-labels {
		label {
			display: none;
		}
	}
	.plain-list {
		font-size: 1.2em;
		li {
			a {
				width: 100%;
				font-weight: 600;
				display: block;
				padding: 6pt 0;
				color: black !important;
				&:hover {
					color: lighten($claret, 5%) !important;
				}
			}

			&.selected {
				background: #eee;
			}

			&.archived a {
				color: #aaa !important;
			}

			&:not(:last-child) {
				border-bottom: solid thin #ddd;
			}
		}
	}

	h6 {
		user-select: none;
		font-size: 1.4em;
		margin-bottom: 10pt;
		&:not(:first-child) {
			margin-top: 10pt;
		}
	}

	.error {
		display: block;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		button {
			white-space: nowrap;
		}
	}

	input,
	.form-textarea {
		font-family: inherit;
		padding: 2pt 4pt;
		font-size: 12pt;
		outline: none;
		border: solid thin #ddd;
		resize: vertical;

		&:read-only {
			background: #ddd;
			color: #555;
			user-select: none;
			cursor: default;
		}
	}

	input {
		border-top: none;
		border-left: none;
		border-right: none;

		&[type="color"] {
			padding: 0 1pt;
		}
	}

	label {
		user-select: none;
		white-space: nowrap;
		padding-right: 8pt;
		font-weight: bold;
		&.required::after {
			content: "*";
			color: $claret;
			font-weight: bold;
			margin: 0 2pt;
			display: inline-block;
		}
	}

	.controlling-field-wrapper {
		display: flex;
		& > * {
			margin-right: 8pt;
		}
	}

	.error {
		color: #900;
	}

	a:not(:hover):not(.nav-card) {
		color: $claret;
	}

	.image-uploader {
		img {
			max-width: 100%;
			max-height: 60vh;
			display: block;
		}
		input {
			margin: 10pt 0;
			width: 100%;
		}
	}
	button {
		background: #eee;
		color: black;
		margin: 4pt 0;

		&:hover {
			background: #ddd;
		}

		&:disabled {
			pointer-events: none;
		}

		&.delete {
			color: white;
			background: #900;
			&:hover {
				background: #700;
			}
		}

		&.confirm {
			color: white;
			background: #518c56;
			&:hover {
				background: #1a6f39;
			}
		}
	}

	div:not(.buttons) {
		button:not(:last-child) {
			margin-right: 4pt;
		}
	}

	// Field Types
	.radio-fields {
		display: flex;
		flex-wrap: wrap;
		input {
			display: none;
		}

		label {
			user-select: none;
			cursor: pointer;
			padding: 4pt 8pt;
			border-radius: 4pt;
			background: rgba(black, 0.05);
			margin-right: 4pt;
			&:hover {
				background: rgba(black, 0.1);
			}
		}

		input:checked + label {
			color: white;
			background: $claret;
		}

		&.read-only {
			pointer-events: none;
			input:not(:checked) + label {
				opacity: 0.3;
			}
		}
	}
	.boolean {
		.boolean-checkbox {
			display: none;
		}

		.boolean-slider {
			cursor: pointer;
			width: 28pt;
			height: 15pt;
			display: inline-block;
			background: rgba(black, 0.05);
			border-radius: 10pt;
			position: relative;
			margin-left: 2pt;
			&::after {
				content: "";
				height: 18pt;
				width: 18pt;
				display: inline-block;
				background: #ddd;
				border-radius: 100%;
				position: absolute;
				top: 0;
				bottom: 0;
				left: -2pt;
				margin: auto;
				transition: left 200ms, background 200ms;
			}
		}

		.boolean-checkbox:checked + .boolean-slider::after {
			background: $claret;
			left: 12pt;
		}

		&.read-only {
			pointer-events: none;
			.boolean-slider {
				opacity: 0.5;
			}
		}
	}

	.table-wrapper {
		overflow-x: auto;
	}

	.table {
		margin-bottom: 20pt;
		box-shadow: none;
	}

	.image-selector-field-wrapper {
		user-select: none;
		border-radius: 4pt;
		padding: 10pt 10pt 6pt;
		.image-selector-field {
			max-width: 100%;
			left: 0;
			right: 0;
			margin: auto;
			display: block;
			padding-bottom: 10pt;
			max-height: 30vh;
			&.text {
				color: #555;
				text-align: center;
			}
		}
	}
	.image-selector {
		display: flex;
		flex-direction: column;
		min-height: 0;
		max-height: 85vh;

		.preview-box {
			display: grid;
			justify-content: center;
			align-items: center;
			color: white;
		}

		.image-list {
			overflow: auto;
			display: grid;
			align-items: center;
			justify-content: center;
			margin: 10pt 0;
			flex-grow: 1;
			grid-template-columns: repeat(auto-fill, minmax(160pt, 1fr));
			grid-gap: 10pt;
			.thumbnail {
				cursor: pointer;
				max-width: 100%;
				&.selected {
					box-shadow: 0 0 10pt $claret;
				}
			}
		}

		@media #{$mobile-and-tablet} {
			.preview-box {
				.img-wrapper {
					width: 100%;
					img {
						max-width: 100%;
						max-height: 20vh;
						padding-bottom: 10pt;
						border-bottom: solid thin #ddd;
					}
				}
				.attributes {
					display: none;
				}
			}
		}
		@media #{$desktop-only} {
			grid-template-rows: 200pt 1fr 40pt;
			.preview-box {
				user-select: none;
				&.with-image {
					grid-template-columns: 1fr 1fr;
					justify-content: center;
					background: #1a1a1a;
					.img-wrapper {
						display: flex;
						justify-content: center;
						flex-grow: 1;
						img {
							max-width: 100%;
							max-height: 200pt;
						}
					}
				}
				&.no-image {
					color: #aaa;
					padding: 10pt;
				}
				.attributes {
					display: flex;
					flex-direction: column;
					justify-content: center;
					flex-grow: 1;
					white-space: nowrap;
					.attribute {
						padding: 4pt 8pt;
						font-size: 0.9em;
						strong {
							margin-right: 4pt;
						}
						&:not(:last-child) {
							border-bottom: solid thin #3a3a3a;
						}
					}
				}
			}
		}
	}

	@media #{$desktop-only} {
		&.grid {
			grid-template-columns: minmax(min-content, 1fr) minmax(250px, 10fr);
		}
	}
}

.login-card {
	left: 0;
	right: 0;
	margin: auto;
	width: auto;
	grid-template-columns: 1fr;
	max-width: 400px;
	padding: 5%;

	form {
		display: flex;
		flex-direction: column;
		label,
		input,
		.error {
			display: block;
			width: 100%;
		}

		.field-group {
			margin-bottom: 8pt;
		}
	}
}

.nav-card {
	cursor: pointer;
	padding: 10pt;
	margin: 10pt 0 14pt;
	background: $claret;
	font-weight: 600;
	border-radius: 4pt;
	color: white;
	font-size: 1.4em;
	display: inline-block;
	width: 100%;
}

.admin-page {
	padding-bottom: 20pt;
	.team-banner {
		margin-bottom: 8pt;
	}
}
