.block-card,
.form-card {
	background: #fff;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
	padding: 20pt;
	margin-bottom: 20pt;
}

.form-card {
	&.grid {
		display: grid;
		grid-row-gap: 8pt;
		align-items: center;
		h6,
		.error,
		.buttons,
		.md-RichEditor-root,
		.full-span {
			grid-column: 1 / -1;
			max-width: 100%;
		}
	}
	.plain-list {
		font-size: 1.2em;
		li {
			a {
				width: 100%;
				font-weight: 600;
				color: black;
				display: block;
				padding: 6pt 0;
				&:hover {
					color: lighten($claret, 5%);
				}
			}

			&:not(:last-child) {
				border-bottom: solid thin #ddd;
			}
		}
	}

	h6 {
		@include noTextSelect;
		font-size: 1.4em;
		margin-bottom: 10pt;
		&:not(:first-child) {
			margin-top: 10pt;
		}
	}

	.error {
		display: block;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
		button {
			white-space: nowrap;
		}
	}

	input {
		padding: 2pt 4pt;
		font-size: 12pt;
		outline: none;
		border: none;
		border-bottom: solid thin #ddd;

		&[type="color"] {
			padding: 0 1pt;
		}
	}

	label {
		@include noTextSelect;
		white-space: nowrap;
		padding-right: 8pt;
		font-weight: bold;
		&.required::after {
			content: "*";
			color: $claret;
			font-weight: bold;
			margin: 0 2pt;
			display: inline-block;
		}
	}

	.controlling-field-wrapper {
		display: flex;
		& > * {
			margin-right: 8pt;
		}
	}

	.error {
		color: #900;
	}

	a:not(:hover) {
		color: $claret;
	}

	button {
		background: #eee;
		color: black;
		margin: 4pt 0;

		&:hover {
			background: #ddd;
		}

		&.delete {
			color: white;
			background: #900;
			&:hover {
				background: #700;
			}
		}

		&.confirm {
			color: white;
			background: #518c56;
			&:hover {
				background: #1a6f39;
			}
		}
	}

	// Field Types
	.radio-fields {
		display: flex;
		flex-wrap: wrap;
		input {
			display: none;
		}

		label {
			@include noTextSelect;
			cursor: pointer;
			padding: 4pt 8pt;
			border-radius: 4pt;
			background: rgba(black, 0.05);
			margin-right: 4pt;
			&:hover {
				background: rgba(black, 0.1);
			}
		}

		input:checked + label {
			color: white;
			background: $claret;
		}
	}
	.boolean {
		.boolean-checkbox {
			display: none;
		}

		.boolean-slider {
			cursor: pointer;
			width: 28pt;
			height: 15pt;
			display: inline-block;
			background: rgba(black, 0.05);
			border-radius: 10pt;
			position: relative;
			margin-left: 2pt;
			&::after {
				content: "";
				height: 18pt;
				width: 18pt;
				display: inline-block;
				background: #ddd;
				border-radius: 100%;
				position: absolute;
				top: 0;
				bottom: 0;
				left: -2pt;
				margin: auto;
				transition: left 200ms, background 200ms;
			}
		}

		.boolean-checkbox:checked + .boolean-slider::after {
			background: $claret;
			left: 12pt;
		}
	}

	@media #{$desktop-only} {
		&.grid {
			grid-template-columns: minmax(min-content, 1fr) minmax(250px, 10fr);
		}
	}
}

.login-card {
	left: 0;
	right: 0;
	margin: auto;
	width: auto;
	grid-template-columns: 1fr;
	max-width: 400px;
	padding: 5%;

	form {
		display: flex;
		flex-direction: column;
		label,
		input,
		.error {
			display: block;
			width: 100%;
		}

		.field-group {
			margin-bottom: 8pt;
		}
	}
}

.nav-card {
	cursor: pointer;
	padding: 10pt;
	margin: 10pt 0 14pt;
	background: $claret;
	font-weight: 600;
	border-radius: 4pt;
	color: white;
	font-size: 1.4em;
	display: inline-block;
	width: 100%;
}

.admin-page {
	padding-bottom: 20pt;
	.team-banner {
		margin-bottom: 8pt;
	}
}
