.error-boundary {
	margin: 20pt;
	background: #fff6f6;
	box-shadow: 2pt 2pt 2pt rgba(50, 50, 50, 0.5);
	padding-bottom: 10pt;
	max-height: 80vh;
	display: flex;
	flex-direction: column;

	h2 {
		background: #900;
		color: white;
		width: 100%;
		padding: 10pt;
		user-select: none;
	}

	.data {
		margin: 10pt;
		font-weight: 600;
		padding-bottom: 6pt;
		border-bottom: solid 4pt #900;
	}

	pre {
		font-family: monospace;
		margin: 10pt;
		display: block;
		padding: 4pt;
		background: white;
		border: solid thin black;
		overflow: auto;
		flex-grow: 1;
	}
}

.error-list-table-wrapper {
	overflow-x: auto;
	margin: 10pt 0;
	.error-list-table {
		margin: 0 !important;
		td {
			white-space: nowrap;
		}
		.archived td {
			background: #ccc !important;
		}
		td.link {
			color: $claret;
			cursor: pointer;
			font-weight: 600;
			&:hover {
				color: lighten($claret, 10%);
			}
			a {
				color: inherit;
			}
		}
	}
}
