.game-card {
	font-size: 12pt;
	padding-top: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;

	.background-image-wrapper {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 100%;
		height: 100%;
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;
			left: 0;
			right: 0;
			top: 0;
			object-fit: cover;
			pointer-events: none;
			margin: auto;
			position: absolute;
		}
	}

	.game-card-content {
		display: flex;
		align-items: center;
		border-left: solid 8pt;
		padding: 2%;
		z-index: 2;
		.team-image {
			width: 50pt;
			height: 50pt;
			object-fit: contain;
			margin-right: 10pt;
			pointer-events: none;
		}
		h4 {
			color: inherit;
			font-size: 1.5em;
			font-weight: bold;
		}
		.game-details-wrapper {
			flex-grow: 1;
			.date {
				font-weight: 600;
			}
			.game-countdown {
				margin-top: 4pt;
				display: block;
				@media #{$mobile-only} {
					display: grid;
					grid-template-columns: 1fr 1fr;
				}
			}
		}
	}

	@media #{$mobile-only} {
		.game-icons {
			display: none;
		}
	}

	@media #{$desktop-and-tablet} {
		.game-icons {
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				max-width: 60pt;
				max-height: 40pt;
				margin: 2pt 0;
			}
		}
	}

	&.admin-game-card {
		padding: 0;
		.game-card-content {
			border: none;
		}

		.game-details-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			.game-details {
				padding-right: 10pt;
				flex-grow: 100000000;
			}
			.game-status {
				flex-grow: 1;
			}
			@media #{$mobile-only} {
				flex-direction: column;
				align-items: flex-start;
			}
		}
		.game-status {
			background: black;
			display: flex;
			padding: 4pt;
			border-radius: 4pt;
			div {
				width: 10pt;
				height: 10pt;
				border-radius: 100%;
				margin: 0 4pt;
			}
		}
	}
}

.game-countdown {
	font-weight: bold;
	.group {
		display: inline-block;
		.value {
			width: 2em;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			display: inline-block;
			padding: 4pt;
			text-align: center;
			background: #fff;
			color: #222;
		}
		.label {
			margin-left: 4pt;
			text-transform: uppercase;
		}
		&:not(:last-child) {
			margin-right: 10pt;
		}
	}
}

.game-list {
	display: grid;
	padding-bottom: 20pt;

	@media #{$mobile-and-tablet} {
		grid-gap: 10pt;
	}
	@media #{$desktop-only} {
		grid-gap: 20pt;
		grid-template-columns: 1fr 1fr;
		.game-card:first-child,
		.game-card:nth-child(even):last-child {
			grid-column: 1 / -1;
		}
		.game-card:first-child {
			.team-badge {
				padding: 4%;
			}
			padding-top: 20%;
		}
	}
}

.game-page {
	h2 {
		text-align: center;
		font-size: 2em;
		margin-bottom: 8pt;
	}
	section:not(.header) {
		padding: 18pt 0;
		&:nth-child(odd) {
			background-color: rgba(255, 255, 255, 0.3);
		}
		@media #{$mobile-and-tablet} {
			padding: 4pt 0;
		}
	}
	section.header {
		@include noTextSelect;
		$gameInfoBackground: rgba(0, 0, 0, 0.8);
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		position: relative;

		.game-header-image {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			object-fit: cover;
		}

		.game-details {
			z-index: 2;
			.container {
				color: white;
				text-transform: uppercase;
				font-weight: 600;
				padding: 0;

				.tv-logo {
					height: 20pt;
					padding: 2pt;
				}
			}
			.hashtag {
				text-transform: none;
			}
		}
		.nav-card {
			margin: 0;
			z-index: 2;
			border-radius: 0;
		}

		.team-banners {
			@include noTextSelect;
			box-shadow: 0 4pt 4pt rgba(0, 0, 0, 0.3);
		}

		@media #{$mobile-and-tablet} {
			background-size: cover;
			min-height: 50vh;
			flex-direction: column-reverse;
			justify-content: flex-start;
			.game-details {
				background: $gameInfoBackground;
				text-align: center;
				width: 100%;
				ul {
					flex-direction: column;
					li {
						padding: 4pt;
						&:not(:last-child) {
							border-bottom: solid 1pt $gold;
						}
					}
				}
			}
		}

		@media #{$desktop-only} {
			background-position: center top;
			background-size: contain;
			background-attachment: fixed;
			height: 30vw;
			.game-details {
				width: 100%;
				.container::after,
				ul {
					background: $gameInfoBackground;
					display: inline-flex;
				}
				.container {
					&::after {
						display: block;
						position: absolute;
						right: 100%;
						top: 0;
						width: 100%;
						height: 100%;
						content: "";
					}
					ul {
						padding-right: 4pt;
						border-radius: 0 8pt 0 0;
						li {
							padding: 0 8pt;
							margin: 4pt 0;

							span {
								padding: 4pt 0;
								display: inline-block;
							}
							&:not(:last-child) {
								border-right: solid 1pt $gold;
							}
						}
					}
				}
			}
		}
	}

	section.countdown {
		@include noTextSelect;
		text-align: center;
		font-size: 20pt;
		transition: height 300ms, opacity 300ms, padding 300ms;
		&.completed {
			height: 0;
			opacity: 0;
			padding: 0;
			overflow: hidden;
		}
		.value {
			color: white;
			background: $claret;
		}
		@media #{$mobile-and-tablet} {
			.game-countdown {
				text-align: left;
			}
			.group {
				display: block;
			}
		}
	}

	section.form {
		text-align: center;
		.head-to-head {
			.games {
				padding-bottom: 10pt;
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				.game {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: auto 1fr;
					background: #f4f4f4;
					box-shadow: 2pt 2pt 2pt #555;
					flex-basis: 0;
					flex-grow: 1;
					margin: 4pt 8pt;
					.team-boxes {
						@include header;
						font-size: 16pt;
						padding: 12pt 8pt;
						display: flex;
						align-items: center;
						justify-content: space-around;
						flex-direction: column;
						height: 70pt;
						img {
							max-height: 30pt;
							margin: 0 4pt;
						}
					}
					.details {
						grid-column-end: span 2;
						font-weight: 600;
						padding: 4pt 8pt;
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: 100%;
						.date {
							text-transform: uppercase;
						}
						.title {
							@include header;
							font-size: 8pt;
						}
					}
				}
			}
			.summary {
				@include header;
				font-size: 10pt;
				display: flex;
				justify-content: center;
				align-items: center;
				border-top: solid thin #ccc;
				padding: 4pt 0;
				&:last-child {
					margin-bottom: 10pt;
				}
			}
			@media #{$mobile-and-tablet} {
				.games {
					.game {
						margin-bottom: 10pt;
					}
				}
				.summary {
					flex-direction: column;
				}
			}
			@media #{$desktop-only} {
				.summary > div {
					padding: 4pt;
					&:not(:last-child) {
						border-right: solid 2pt $claret;
					}
				}
			}
		}
		.team-form-wrapper {
			.with-table {
				display: flex;
				flex-wrap: wrap;
				& > * {
					flex-basis: 0;
					flex-grow: 1;
				}
				.teams {
					flex-direction: column;
					.team {
						flex-grow: 0;
					}
				}
			}
			.teams {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				.team {
					flex-grow: 1;
					margin: 10pt;
					box-shadow: 2pt 2pt 2pt #555;
					.header {
						@include header;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					img {
						max-height: 60pt;
						max-width: 100%;
						padding: 8pt 4pt;
					}
					.games {
						display: flex;
						a.game:hover {
							background: #e4e4e4;
							color: black;
						}
						.game {
							background: #fafafa;
							flex-basis: 0;
							flex-grow: 1;
							display: flex;
							flex-direction: column;
							.badge {
								flex-grow: 1;
								display: grid;
								justify-content: center;
								align-items: center;
							}
							.date {
								@include header;
								font-size: 8pt;
								margin: 4pt;
							}
							.score {
								font-weight: 600;
								color: white;
								padding: 4pt 0;
								&.W {
									background: #518c56;
								}
								&.L {
									background: #900;
								}
								&.D {
									background: #444;
								}
							}
						}
					}
				}
			}
		}
	}
	section.game-events {
		.events {
			display: grid;
			background: #f4f4f4;
			box-shadow: 2pt 2pt 2pt #888;
			h6 {
				grid-column: 1 / -1;
				text-align: center;
				font-size: 16pt;
				padding: 4pt;
				&:not(:first-child) {
					border-top: solid thin #ccc;
				}
			}
			div {
				&.team-image {
					background: $claret;
				}
				display: flex;
				padding: 4pt;
				flex-direction: column;
				align-items: center;
				font-weight: 600;
				justify-content: center;
				a:hover {
					color: $claret;
				}
				img {
					max-height: 40pt;
				}
			}
			@media #{$mobile-only} {
				margin: 8pt 0;
				.team-image {
					display: none;
				}
				div {
					padding-bottom: 8pt;
				}
			}
			@media #{$desktop-and-tablet} {
				grid-template-columns: 1fr 1fr;
				div {
					font-size: 14pt;
				}
			}
		}
	}

	section.match-squads,
	section.pregame-squads {
		.team-blocks {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			.team-block {
				min-width: 250px;
				position: relative;
				flex-grow: 1;
				flex-basis: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 10pt;
				overflow-x: hidden;
				.player {
					@include header;
					z-index: 2;
					white-space: nowrap;
					.name,
					.number {
						text-shadow: inherit;
					}
				}
				@media #{$mobile-and-tablet} {
					.team-image {
						max-height: 40pt;
					}
				}
				@media #{$desktop-only} {
					& > .team-image {
						opacity: 0.5;
						max-height: 70%;
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto;
					}
					&:first-child {
						& > .team-image {
							left: 0;
							transform: translateX(-30%);
						}
					}
					&:last-child {
						& > .team-image {
							right: 0;
							transform: translateX(30%);
						}
					}
				}
			}
		}
	}
	section.pregame-squads {
		&.with-squads {
			padding: 0;
		}
		.team-block {
			.player {
				display: flex;
			}
		}
		.team-blocks {
			@media #{$mobile-and-tablet} {
				flex-direction: column;
				.team-block {
					text-shadow: none;
					.player {
						font-size: 18pt;
						.name,
						.number {
							text-shadow: none;
						}
						.number {
							&::after {
								content: ".\00A0";
							}
						}
					}
				}
			}
			@media #{$desktop-only} {
				.team-block {
					text-shadow: inherit;
					.player {
						.number {
							min-width: 36pt;
							padding: 0 10pt;
						}
					}
					a.player:hover * {
						color: $gold !important;
					}
					&:first-child {
						align-items: flex-end;
						.player {
							flex-direction: row-reverse;
						}
					}
					&:last-child {
						align-items: flex-start;
						.player {
							.number {
								text-align: right;
							}
						}
					}
				}
			}
		}
	}
	section.match-squads {
		padding-bottom: 0;
		.team-block {
			.row {
				display: flex;
				align-items: center;
				.player {
					position: relative;
					.name-bar {
						display: flex;
						overflow: hidden;
					}
				}
				&:last-child {
					border-top: 2pt rgba(120, 120, 120, 0.4);
				}
			}
		}

		@media #{$mobile-and-tablet} {
			.team-block {
				.row {
					flex-direction: column;
					order: 1 !important;
					.interchange-header {
						display: none;
					}
					&:not(:last-child) {
						margin-bottom: 6pt;
					}
					img {
						display: none;
					}
					.number,
					.name {
						margin: 0 2pt;
						color: inherit !important;
						background: inherit !important;
					}
					.name-bar,
					.name {
						border: none !important;
					}
				}
			}
		}
		@media #{$desktop-only} {
			.team-blocks {
				.team-block {
					min-width: 400pt;
					.row {
						width: 100%;
						justify-content: center;
						&:nth-child(4) {
							//Halfbacks
							margin: 8pt 0;
							.player {
								margin-left: 6%;
								margin-right: 6%;
							}
						}
						&:last-child {
							//Interchanges
							flex-wrap: wrap;
							padding: 10pt;
							.interchange-header {
								@include header;
								text-align: center;
								border-top: 1pt solid;
								padding-top: 4pt;
								width: 100%;
							}
						}
						a.player {
							.name-bar {
								transition: box-shadow 100ms;
							}
							&:hover .name-bar {
								box-shadow: 0 0 6pt #ffcc00;
							}
						}
						.player {
							margin: 2pt 4pt;
							display: flex;
							flex-direction: column;
							align-items: center;
							&.starting {
								min-width: 20%;
								.image {
									width: 70pt;
									height: 60pt;
									position: relative;
									overflow: hidden;
									img {
										max-width: 100%;
										position: absolute;
										top: 0;
										left: 0;
										right: 0;
										margin: auto;
										z-index: 2;
									}
								}
							}
							.name-bar {
								border-radius: 4pt;
								overflow: hidden;
								.number,
								.name {
									padding: 2pt 8pt;
									text-align: center;
								}
								.number {
									min-width: 30pt;
								}
							}
						}
					}
				}
			}
		}
	}
	section.head-to-head {
		.container {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			.head-to-head-table {
				background: #eee;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				text-align: center;
				flex-grow: 1;

				h6,
				.stat-bar-wrapper {
					grid-column: 1 / -1;
				}

				h6 {
					background: $claret;
					color: $gold;
					padding: 4pt;
					font-size: 1.2em;
				}

				.value,
				.name {
					align-items: center;
					justify-content: center;
					padding: 6pt 4pt 0;
					white-space: nowrap;
				}

				.value {
					color: #222;
					&.highlighted {
						color: black;
						font-weight: 600;
					}
				}

				.stat-bar-wrapper {
					padding: 2pt 8pt 8pt;
					margin-bottom: 2pt;
					&:not(:last-child) {
						border-bottom: solid thin #ccc;
					}
					.stat-bar {
						height: 10pt;
						border-radius: 4pt;
						width: 100%;
						overflow: hidden;
						.stat-bar-inner {
							height: 100%;
						}
					}
				}
			}
			@media #{$mobile-and-tablet} {
				flex-direction: column;
				align-items: stretch;
				.head-to-head-table {
					margin: 6pt 0;
				}
			}
			@media #{$desktop-only} {
				.head-to-head-table {
					margin: 6pt;
				}
			}
		}
	}
	section.game-stars {
		.person-card-grouping {
			.person-card {
				.game-star-stats {
					@include header;
					text-shadow: 1px 1px 1px black;
					margin-top: 4pt;
					padding-top: 4pt;
					border-top: solid thin $gold;
					flex-grow: 1;
					display: flex;
					flex-direction: column;
					.row {
						&:not(:first-child) {
							margin-top: 4pt;
						}
						.label,
						.value {
							display: inline-block;
						}
						.value,
						.best {
							color: white;
						}
						.label {
							color: $gold;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	section.stats-table {
		.stat-table-selector {
			@include noTextSelect;
			display: flex;
			margin-bottom: 14pt;
			div {
				flex-grow: 1;
				width: 100%;
				padding: 6pt 4pt;
				background: #fff;
				cursor: pointer;
				text-align: center;
				&:hover {
					background: #eee;
				}
				&.active {
					pointer-events: none;
					background: $claret;
					color: white;
					font-weight: 600;
				}
			}

			@media #{$mobile-only} {
				flex-direction: column;
				div:not(.active) + div:not(.active) {
					border-top: solid thin #eee;
				}
			}
			@media #{$desktop-and-tablet} {
				border-radius: 4pt;
				overflow: hidden;
				div:not(.active) + div:not(.active) {
					border-left: solid thin #eee;
				}
			}
		}
		table {
			tbody {
				th {
					> * {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						padding: 4pt;
						.badge-wrapper {
							height: 24pt;
							width: 40pt;
							margin: 0 6pt;
							display: inline-flex;
							align-items: center;
							justify-content: center;
							img {
								max-width: 100%;
								max-height: 100%;
							}
						}
					}
				}
			}
		}
	}
}
