.game-card {
	font-size: 12pt;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;

	&:not(.hidden-image) {
		padding-top: 30%;
	}

	.background-image-wrapper {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 100%;
		height: 100%;
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;
			left: 0;
			right: 0;
			top: 0;
			object-fit: cover;
			pointer-events: none;
			margin: auto;
			position: absolute;
		}
	}

	.game-card-content {
		display: flex;
		align-items: center;
		border-left: solid 8pt;
		padding: 2%;
		z-index: 2;
		.team-image {
			width: 50pt;
			height: 50pt;
			object-fit: contain;
			margin-right: 10pt;
			pointer-events: none;
		}
		h4 {
			color: inherit;
			font-size: 1.5em;
			font-weight: bold;
		}
		.game-details-wrapper {
			flex-grow: 1;
			font-weight: 400;
			.date {
				font-weight: 600;
			}
			.game-countdown {
				margin-top: 4pt;
				display: block;
				@media #{$mobile-only} {
					display: grid;
					grid-template-columns: 1fr 1fr;
				}
			}
		}
	}

	@media #{$mobile-only} {
		.game-icons {
			display: none;
		}
	}

	@media #{$desktop-and-tablet} {
		.game-icons {
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				max-width: 60pt;
				max-height: 40pt;
				margin: 2pt 0;
			}
		}
	}

	&.admin-game-card {
		padding: 0;
		.game-card-content {
			border: none;
		}

		.game-details-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			.game-details {
				padding-right: 10pt;
				flex-grow: 100000000;
			}
			.game-status {
				flex-grow: 1;
			}
			@media #{$mobile-only} {
				flex-direction: column;
				align-items: flex-start;
			}
		}
		.game-status {
			background: black;
			display: flex;
			padding: 4pt;
			border-radius: 4pt;
			div {
				width: 10pt;
				height: 10pt;
				border-radius: 100%;
				margin: 0 4pt;
			}
		}
	}
}

.game-countdown {
	font-weight: bold;
	.group {
		display: inline-block;
		.value {
			width: 2em;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			display: inline-block;
			padding: 4pt;
			text-align: center;
			background: #fff;
			color: #222;
		}
		.label {
			margin-left: 4pt;
			text-transform: uppercase;
		}
		&:not(:last-child) {
			margin-right: 10pt;
		}
	}
}

.game-list-page {
	.extra-buttons {
		padding-top: 10pt;
		display: grid;
		@media #{$desktop-only} {
			grid-template-columns: 1fr 1fr 1fr;
		}
		button {
			margin: 0 8pt;
			border-radius: 4pt;
			max-width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 600;
			background: $mainColour;
			&:hover {
				background: darken($mainColour, 5%);
			}
			img {
				max-height: 20pt;
				margin-right: 4pt;
			}
		}
	}
	.game-list {
		display: grid;
		padding-bottom: 20pt;

		@media #{$mobile-and-tablet} {
			grid-gap: 10pt;
		}
		@media #{$desktop-only} {
			grid-gap: 20pt;
			grid-template-columns: 1fr 1fr;
			.game-card:first-child,
			.game-card:nth-child(even):last-child {
				grid-column: 1 / -1;
			}
			.game-card:first-child {
				.team-badge {
					padding: 4%;
				}
				padding-top: 20%;
			}
		}
	}
}

.game-page {
	user-select: none;
	overflow: hidden;
	h2 {
		text-align: center;
		font-size: 2em;
		margin-bottom: 8pt;
		display: block;
		width: 100%;
	}
	section:not(.header) {
		padding: 18pt 0;
		&:nth-child(odd) {
			background-color: rgba(255, 255, 255, 0.3);
		}
		@media #{$mobile-and-tablet} {
			padding: 4pt 0;
		}
	}
	section.header {
		$gameInfoBackground: rgba(0, 0, 0, 0.8);
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		position: relative;

		.game-header-image {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			object-fit: cover;
		}

		.game-details {
			z-index: 2;
			.container {
				color: white;
				text-transform: uppercase;
				font-weight: 600;
				padding: 0;

				.broadcaster-logo {
					height: 20pt;
					padding: 2pt;
				}
			}
			.hashtag {
				text-transform: none;
			}
		}
		.nav-card {
			margin: 0;
			z-index: 2;
			border-radius: 0;
		}

		.team-banners {
			box-shadow: 0 4pt 4pt rgba(0, 0, 0, 0.3);
		}

		@media #{$mobile-and-tablet} {
			background-size: cover;
			min-height: 50vh;
			flex-direction: column-reverse;
			justify-content: flex-start;
			.game-details {
				background: $gameInfoBackground;
				text-align: center;
				width: 100%;
				ul {
					flex-direction: column;
					li {
						padding: 4pt;
						&:not(:last-child) {
							border-bottom: solid 1pt $trimColour;
						}
					}
				}
			}
		}

		@media #{$desktop-only} {
			background-position: center top;
			background-size: contain;
			background-attachment: fixed;
			height: 30vw;
			.game-details {
				width: 100%;
				.container::after,
				ul {
					background: $gameInfoBackground;
					display: inline-flex;
				}
				.container {
					&::after {
						display: block;
						position: absolute;
						right: 100%;
						top: 0;
						width: 100%;
						height: 100%;
						content: "";
					}
					ul {
						padding-right: 4pt;
						border-radius: 0 8pt 0 0;
						li {
							padding: 0 8pt;
							margin: 4pt 0;

							span {
								padding: 4pt 0;
								display: inline-block;
							}
							&:not(:last-child) {
								border-right: solid 1pt $trimColour;
							}
						}
					}
				}
			}
		}
	}

	section.countdown {
		text-align: center;
		font-size: 20pt;
		transition: height 300ms, opacity 300ms, padding 300ms;
		&.completed {
			height: 0;
			opacity: 0;
			padding: 0;
			overflow: hidden;
		}
		.value {
			color: white;
			background: $mainColour;
		}
		@media #{$mobile-and-tablet} {
			.game-countdown {
				text-align: left;
			}
			.group {
				display: block;
			}
		}
	}

	section.form {
		text-align: center;
		.head-to-head {
			.games {
				padding-bottom: 10pt;
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				.game {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: auto 1fr;
					background: #f4f4f4;
					box-shadow: 2pt 2pt 2pt #555;
					flex-basis: 0;
					flex-grow: 1;
					margin: 4pt 8pt;
					.team-boxes {
						@include header;
						font-size: 16pt;
						padding: 12pt 8pt;
						display: flex;
						align-items: center;
						justify-content: space-around;
						flex-direction: column;
						height: 70pt;
						img {
							max-height: 30pt;
							margin: 0 4pt;
						}
					}
					.details {
						grid-column-end: span 2;
						font-weight: 600;
						padding: 4pt 8pt;
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: 100%;
						.date {
							text-transform: uppercase;
						}
						.title {
							@include header;
							font-size: 8pt;
						}
					}
				}
			}
			.summary {
				@include header;
				font-size: 10pt;
				display: flex;
				justify-content: center;
				align-items: center;
				border-top: solid thin #ccc;
				padding: 4pt 0;
				&:last-child {
					margin-bottom: 10pt;
				}
			}
			@media #{$mobile-and-tablet} {
				.games {
					.game {
						margin-bottom: 10pt;
					}
				}
				.summary {
					flex-direction: column;
				}
			}
			@media #{$desktop-only} {
				.summary > div {
					padding: 4pt;
					&:not(:last-child) {
						border-right: solid 2pt $mainColour;
					}
				}
			}
		}
		.team-form-wrapper {
			.with-table {
				display: flex;
				flex-wrap: wrap;
				& > * {
					flex-basis: 0;
					flex-grow: 1;
				}
				.teams {
					flex-direction: column;
					.team {
						flex-grow: 0;
					}
				}
			}
			.teams {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				.team {
					flex-grow: 1;
					margin: 10pt;
					box-shadow: 2pt 2pt 2pt #555;
					.header {
						@include header;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					img {
						max-height: 60pt;
						max-width: 100%;
						padding: 8pt 4pt;
					}
					.games {
						display: flex;
						a.game:hover {
							background: #e4e4e4;
							color: black;
						}
						.game {
							background: #fafafa;
							flex-basis: 0;
							flex-grow: 1;
							display: flex;
							flex-direction: column;
							.badge {
								flex-grow: 1;
								display: grid;
								justify-content: center;
								align-items: center;
							}
							.date {
								@include header;
								font-size: 8pt;
								margin: 4pt;
							}
							.score {
								font-weight: 600;
								color: white;
								padding: 4pt 0;
								&.W {
									background: #518c56;
								}
								&.L {
									background: #900;
								}
								&.D {
									background: #444;
								}
							}
						}
					}
				}
			}
		}
	}

	section.head-to-head {
		.container {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			@media #{$mobile-and-tablet} {
				flex-direction: column;
				align-items: stretch;
			}
		}
	}
	section.man-of-steel {
		.man-of-steel-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			.person-image {
				max-height: 300pt;
			}
			.man-of-steel-table {
				@include header;
				& > * {
					padding: 12pt 20pt;
					font-size: 1.2em;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
				a:hover {
					color: $trimColour !important;
				}
				.points {
					border-right: solid 8pt;
				}
				.stats {
					font-family: "Titillium Web";
					font-size: 0.8em;
				}
				display: grid;
				grid-template-columns: auto 1fr;
			}
			@media #{$mobile-and-tablet} {
				padding-bottom: 10pt;
				flex-direction: column;
			}
		}

		@media #{$desktop-only} {
			&.with-image {
				padding-bottom: 0;
				.person-image {
					margin-right: 50pt;
				}
			}
		}
	}
	section.game-stars {
		.person-card-grouping {
			.person-card {
				.game-star-stats {
					@include header;
					text-shadow: 1px 1px 1px black;
					margin-top: 4pt;
					padding-top: 4pt;
					border-top: solid thin $trimColour;
					flex-grow: 1;
					display: flex;
					flex-direction: column;
					.row {
						&:not(:first-child) {
							margin-top: 4pt;
						}
						.label,
						.value {
							display: inline-block;
						}
						.value,
						.best {
							color: white;
							text-transform: none;
							&.upper {
								text-transform: uppercase;
							}
						}
						.label {
							color: $trimColour;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	section.stats-table {
		table {
			tbody {
				th {
					> * {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						padding: 4pt;
						.badge-wrapper {
							height: 24pt;
							width: 40pt;
							margin: 0 6pt;
							display: inline-flex;
							align-items: center;
							justify-content: center;
							img {
								max-width: 100%;
								max-height: 100%;
							}
						}
						.name {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							justify-content: center;
						}
					}
				}
			}
		}
	}
}

.game-events-wrapper {
	.events {
		display: grid;
		background: #f4f4f4;
		box-shadow: 2pt 2pt 2pt #888;
		justify-content: center;
		div:not(.team-image-wrapper) {
			height: 100%;
			border-top: solid thin #ccc;
		}
		h6 {
			text-align: center;
			font-size: 16pt;
		}
		div {
			&.team-image-wrapper {
				background: $mainColour;
			}
			display: flex;
			&:empty {
				padding: 0 !important;
			}
			padding: 4pt;
			flex-direction: column;
			align-items: center;
			font-weight: 600;
			justify-content: center;
			a:hover {
				color: $mainColour;
			}
			img {
				max-height: 40pt;
			}
		}
		@media #{$mobile-only} {
			grid-template-columns: 1fr 1fr;
			grid-auto-flow: dense;
			margin: 8pt 0;
			.team-image-wrapper {
				display: none;
			}
			.event-label,
			.scorers {
				grid-column: 1/-1;
			}
			div:not(.event-label) {
				border: none;
			}
		}
		@media #{$desktop-and-tablet} {
			grid-template-columns: 1fr auto 1fr;
			grid-auto-flow: dense;
			.event-label {
				grid-column: 2;
			}
			div {
				font-size: 14pt;
			}

			h6 {
				padding: 4pt;
			}
		}
	}
}

section.match-squads,
section.pregame-squads {
	.team-blocks {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		.team-block {
			min-width: 340px;
			position: relative;
			flex-grow: 1;
			flex-basis: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 10pt;
			overflow: visible;
			.person-wrapper,
			.player {
				@include header;
				white-space: nowrap;
				.name,
				.number {
					text-shadow: inherit;
				}
			}
			@media #{$mobile-and-tablet} {
				.team-image {
					max-height: 40pt;
				}
			}
			@media #{$desktop-only} {
				& > .team-image {
					opacity: 0.5;
					max-height: 70%;
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
				}
				&:first-child {
					& > .team-image {
						left: 0;
						transform: translateX(-30%);
					}
				}
				&:last-child {
					& > .team-image {
						right: 0;
						transform: translateX(30%);
					}
				}
			}
		}
	}
}
section.pregame-squads {
	overflow: hidden;
	.squads-due-message {
		margin: 14pt 0;
	}
	&.with-squads {
		padding: 0;
	}
	.team-block {
		.player {
			display: flex;
			font-size: 1.2em;
			z-index: 2;
		}
	}
	.team-blocks {
		@media #{$mobile-and-tablet} {
			flex-direction: column;
			.team-block {
				text-shadow: none;
				.player {
					.name,
					.number {
						text-shadow: none;
					}
					.number {
						&::after {
							content: ".\00A0";
						}
					}
				}
			}
		}
		@media #{$desktop-only} {
			.team-block {
				text-shadow: inherit;
				.player {
					.number {
						min-width: 36pt;
						padding: 0 10pt;
					}
				}
				a.player:hover * {
					color: $trimColour !important;
				}
				&:first-child {
					align-items: flex-end;
					.player {
						flex-direction: row-reverse;
					}
				}
				&:last-child {
					align-items: flex-start;
					.player {
						.number {
							text-align: right;
						}
					}
				}
			}
		}
	}
}
section.match-squads {
	padding-bottom: 0;
	.team-block {
		.row {
			display: flex;
			align-items: center;
			&.extra {
				.header {
					@include header;
					text-align: center;
					padding-top: 4pt;
					width: 100%;
					border-top: 1pt solid;
				}
			}
			.person-wrapper {
				position: relative;
				.name-bar {
					display: flex;
					overflow: hidden;
				}
				&:not(:hover) {
					.stats-box {
						display: none;
					}
				}
				.stats-box {
					background: #111;
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
					padding: 6pt;
					display: grid;
					grid-template-columns: auto auto;
					z-index: 3;
					font-family: "Titillium Web";
					font-size: 0.9em;
					text-transform: none;
					box-shadow: 2pt 2pt 2pt #000;
					align-items: center;
					.value,
					label {
						padding: 2pt;
					}
					.value {
						color: white;
						text-align: right;
					}
					.label {
						color: $trimColour;
					}
				}
			}
			&:last-child {
				border-top: 2pt rgba(120, 120, 120, 0.4);
			}
		}
	}

	@media #{$mobile-and-tablet} {
		.team-block {
			.row {
				flex-direction: column;
				order: 1 !important;
				width: 100%;
				&.extra {
					.header {
						padding: 10pt 0;
					}
				}
				&:not(:last-child) {
					margin-bottom: 6pt;
				}
				img {
					display: none;
				}
				.name-bar :not(:hover) ~ .stats-box {
					display: none;
				}
				.number,
				.name {
					margin: 0 2pt;
					color: inherit !important;
					background: inherit !important;
					border: none !important;
				}
				.name-bar {
					border: none !important;
				}
				.coach {
					.number::after {
						content: " - ";
					}
				}
			}
		}
	}
	@media #{$desktop-only} {
		.team-blocks {
			.team-block {
				min-width: 400pt;
				.row {
					width: 100%;
					justify-content: center;
					&:nth-child(4) {
						//Halfbacks
						margin: 8pt 0;
						.person-wrapper {
							margin-left: 6%;
							margin-right: 6%;
						}
					}
					&.extra {
						//Interchanges and coaches
						flex-wrap: wrap;
						padding: 10pt;
					}
					a.person-wrapper {
						.name-bar {
							transition: box-shadow 100ms;
						}
						&:hover .name-bar {
							box-shadow: 0 0 6pt #ffcc00;
						}
					}
					.person-wrapper {
						margin: 2pt 4pt;
						display: flex;
						flex-direction: column;
						align-items: center;
						&.starting {
							min-width: 20%;
							.image {
								width: 70pt;
								height: 60pt;
								position: relative;
								overflow: hidden;
								img {
									max-width: 100%;
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									margin: auto;
									z-index: 2;
								}
							}
						}
						.name-bar {
							border-radius: 4pt;
							overflow: hidden;
							.number,
							.name {
								padding: 2pt 8pt;
								text-align: center;
							}
							.number {
								&:empty {
									display: none;
									& + .name {
										width: 100%;
										padding-left: 12pt;
										padding-right: 12pt;
									}
								}
								min-width: 30pt;
							}
						}
					}
				}
			}
		}
	}
}

.admin-game-page {
	h1 {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		.refresh {
			cursor: pointer;
			background: #1a6f39;
			color: white;
			font-size: 0.7em;
			padding: 0 5pt 2pt;
			border-radius: 100%;
		}
	}
	.navigation {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10pt;
		.nav-card {
			display: flex;
			align-items: center;
			padding: 6pt 10pt;
			justify-content: center;
			img {
				max-height: 24pt;
				margin: 0 4pt;
			}
			&.next,
			&.last {
				white-space: nowrap;
			}
			&.next {
				img {
					margin-left: 8pt;
				}
			}
			&.last {
				flex-direction: row-reverse;
				img {
					margin-right: 8pt;
				}
			}
		}
		@media #{$desktop-only} {
			.nav-card {
				width: auto;
				margin: 0;
				flex-grow: 1;
				&.main {
					flex-grow: 10;
					margin: 0 4pt;
				}
			}
		}
		@media #{$mobile-and-tablet} {
			flex-direction: column;
			.nav-card {
				margin: 4pt 0;
				&.main {
					order: 4;
				}
			}
		}
	}
	.game-event-page {
		.event-delete-dialog {
			display: flex;
			flex-direction: column;
			* {
				margin-bottom: 4pt;
			}
		}
	}
	.admin-stats-page {
		margin: 0 10pt;
		h6 {
			font-size: 1.4em;
		}
		.stat-table-wrapper {
			margin-bottom: 14pt;

			thead th {
				text-align: center;
			}

			tbody {
				th {
					text-align: left;
					padding-left: 4pt;
					padding-right: 8pt;
				}

				input {
					width: 50pt;
					border-radius: 4pt;
					text-align: center;
					border: solid thin #999;

					&.error {
						border: solid 1pt red;
					}

					padding: 2pt;

					&[type="number"]::-webkit-inner-spin-button,
					&[type="number"]::-webkit-outer-spin-button {
						opacity: 1;
					}
				}
			}
		}

		.admin-game-stat-crawler {
			.player-rows-wrapper {
				display: grid;

				grid-template-columns: 1fr;
				@media #{$desktop-and-tablet} {
					grid-template-columns: repeat(2, 1fr);
				}

				.player-rows {
					display: grid;
					grid-template-columns: max-content max-content 1fr;

					.name,
					.match {
						padding: 2pt 8pt;
					}

					.name {
						font-weight: 600;
					}

					.match-type {
						width: 10pt;
						height: 100%;
						display: block;
						background: #900;

						&.exact {
							background: #518c56;
						}

						&.partial {
							background: #e68d39;
						}
					}

					@media #{$mobile-only} {
						grid-template-columns: max-content 1fr;
						text-align: center;
						.match-type {
							grid-row-end: span 2;
						}
						.match:not(:last-child) {
							border-bottom: solid thin #ddd;
						}
					}
				}
			}
		}
	}
	.admin-pregame-squad-page {
		.pregame-wrapper {
			display: grid;
			grid-gap: 10pt;

			.team-buttons {
				margin-bottom: 4pt;
				button {
					margin-right: 8pt;
				}
			}

			.form-card {
				grid-column: 1 / -1;
				max-width: 100%;
			}

			.edit-team-squads-link {
				font-weight: 600;
				margin-bottom: 4pt;
				display: block;
				&:hover {
					color: $mainColour;
				}
			}

			table {
				width: 100%;
				margin-bottom: 20pt;
				td:last-child {
					width: 100%;
				}
				tbody {
					tr {
						cursor: pointer;
					}
				}
				tfoot {
					td {
						text-align: right;
						&:first-child {
							color: #222;
						}
					}
				}
			}

			@media #{$desktop-and-tablet} {
				grid-template-columns: 1fr 1fr;
			}
		}
	}
	.pregame-image-loader {
		.preview-image {
			max-width: 100%;
		}
	}
	.event-list {
		display: grid;

		.event-type {
			font-weight: 600;
		}

		.tweet-text {
			font-style: italic;
		}

		.action:not(.empty):hover {
			background: #eee;
			cursor: pointer;
		}

		.image {
			grid-column: 1 / -1;
			img {
				max-width: 100%;
			}
			&:not(.visible) {
				display: none;
			}
		}

		& > * {
			padding: 2pt 4pt;
		}

		@media #{$mobile-only} {
			grid-template-columns: 1fr 1fr;
			text-align: center;

			& > * {
				background: #f4f4f4;
				box-shadow: 2pt 2pt 2pt #777;
			}
			.action {
				border-style: dashed;
				border-color: #bbb;
				border-bottom-width: thin;
				margin-top: 10pt;
				padding: 8pt 0;
				&:not(.reply) {
					border-left-width: thin;
				}
			}
			:not(.action) {
				grid-column: 1 / -1;
			}
		}
		@media #{$desktop-and-tablet} {
			grid-template-columns: repeat(5, max-content) auto;
			.image {
				text-align: center;
				img {
					max-height: 200pt;
				}
			}
			& > * {
				border-bottom: solid thin #bbb;
			}
		}
	}
}

.neutral-game-table {
	th,
	td,
	.team-badge {
		text-align: center;
		img {
			max-height: 25pt;
		}
	}
	.team-name {
		display: block;
		font-size: 9pt;
		text-transform: uppercase;
		font-weight: bold;
	}

	input {
		border: solid thin #333;
		border-radius: 4pt;
		padding: 2pt 4pt;
		font-size: 1.1em;
	}
}

.admin-squad-picker-page {
	.team-image {
		height: 50pt;
		left: 0;
		right: 0;
		margin: 0 auto 10pt;
		display: block;
	}
}

.head-to-head-table {
	background: #eee;
	color: black;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	flex-grow: 1;

	h6,
	.stat-bar-wrapper {
		grid-column: 1 / -1;
	}

	h6 {
		background: $mainColour;
		color: $trimColour;
		padding: 4pt;
		font-size: 1.2em;
	}

	.value,
	.name {
		align-items: center;
		justify-content: center;
		padding: 6pt 4pt 0;
		white-space: nowrap;
	}

	.value {
		color: #222;
		&.highlighted {
			color: black;
			font-weight: 600;
		}
	}

	.stat-bar-wrapper {
		padding: 2pt 8pt 8pt;
		margin-bottom: 2pt;
		&:not(:last-child) {
			border-bottom: solid thin #ccc;
		}
		.stat-bar {
			height: 10pt;
			border-radius: 4pt;
			width: 100%;
			overflow: hidden;
			.stat-bar-inner {
				height: 100%;
			}
		}
	}
	@media #{$mobile-and-tablet} {
		margin: 6pt 0;
	}
	@media #{$desktop-only} {
		margin: 6pt;
	}
}

.admin-fixture-list-image {
	.preview-image {
		max-width: 100%;
	}
}

.fan-potm-voting {
	text-align: center;
	.header {
		font-size: 2em;
	}

	.deadline {
		.deadline-text {
			font-size: 1.4em;
			font-weight: 600;
			display: block;
			margin: 4pt 0;
		}
	}

	.players {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
		grid-gap: 20pt;
		.player {
			margin-top: 8pt;
			display: flex;
			flex-direction: column;
			background: rgba(#fff, 0.4);

			&.disabled {
				pointer-events: none;
			}

			cursor: pointer;
			&:hover {
				background: rgba(#ccc, 0.4);
			}

			.image {
				flex-grow: 1;
				display: flex;
				align-items: flex-end;
				justify-content: center;
				padding: 10pt 10pt 0;
				overflow: hidden;
				img {
					max-height: 140pt;
					max-width: 100%;
				}
			}

			.details {
				background: $mainColour;
				h6 {
					padding: 10pt 10pt 0;
					font-size: 1.3em;
					color: white;
					span {
						color: $trimColour;
					}
					.last-name {
						display: block;
					}
				}

				.stats {
					padding: 4pt 10pt 10pt;
					.statgroup {
						display: block;
						span {
							@include header;

							&.value {
								color: $trimColour;
							}

							&.label {
								color: white;
							}
						}
					}
				}

				.result {
					@include header;
					padding-top: 2pt;
					color: white;
					.progress-bar {
						display: block;
						height: 8pt;
						background-color: $trimColour;
					}
				}
			}

			&.active {
				transition: background 100ms;
				background-color: rgba($trimColour, 0.6);
				.image img {
					transition: filter 100ms;
					-webkit-filter: drop-shadow(0 06px 12px rgba(0, 0, 0, 0.3));
					filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=6, Color='rgba(0,0,0,0.5')";
				}
			}
		}
	}
	button {
		margin-top: 10pt;
		width: 100%;
		font-weight: 600;

		&.submit:not(:disabled) {
			background: $mainColour;
			&:hover {
				background: lighten($mainColour, 5%);
			}
		}

		&.post-submit {
			background: #090;
			opacity: 1;
			color: white;
		}
	}
}

.admin-post-game-events {
	.tweet-wrapper {
		.hide-button {
			border-radius: 100%;
			justify-self: flex-start;
			transition: transform 100ms;
		}

		&.hidden {
			.hide-button {
				transform: rotate(-90deg);
			}
		}
		.tweet-header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@media #{$mobile-only} {
				flex-direction: column-reverse;
			}
		}

		.preview-image {
			max-height: 60vh;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
}

.calendar-dialog {
	border: 8pt $mainColour solid;
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;

	.form-card {
		padding: 0;
		box-shadow: none;
		background: transparent;
	}

	p:not(:last-child) {
		margin-bottom: 8pt;
	}

	ul.clickable {
		li {
			display: flex;
			justify-content: flex-start;
			padding: 6pt;
			user-select: none;
			cursor: pointer;
			font-weight: 600;

			&:hover {
				background: rgba($mainColour, 0.2);
			}

			&:not(:last-child) {
				border-bottom: solid 1pt #e4e4e4;
			}

			.boolean {
				margin-right: 10pt;
				pointer-events: none;
			}
		}
	}

	.disabled {
		opacity: 0.3;
		pointer-events: none !important;
	}

	.scrollable {
		overflow: auto;
		padding: 6pt 12pt;
		border-radius: 4pt;
		border: solid thin #eee;
	}

	form {
		label {
			padding: 4pt 0 0;
			display: block;
		}
		h6 {
			font-size: 1em;
			margin: 4pt 0 0;
		}
	}

	.copy-dialog {
		button {
			width: 100%;
		}
		input {
			width: 100%;
			font-size: 0.8em;
		}
	}
}

.game-card,
.game-page .header {
	&.hidden-game {
		opacity: 0.6;
		filter: grayscale(0.6);
	}
}
