.game-card {
	font-size: 12pt;
	padding-top: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;

	.background-image-wrapper {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 100%;
		height: 100%;
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;
			left: 0;
			right: 0;
			top: 0;
			object-fit: cover;
			pointer-events: none;
			margin: auto;
			position: absolute;
		}
	}

	.game-card-content {
		display: flex;
		align-items: center;
		border-left: solid 8pt;
		padding: 2%;
		z-index: 2;
		.team-image {
			width: 50pt;
			height: 50pt;
			object-fit: contain;
			margin-right: 10pt;
			pointer-events: none;
		}
		h4 {
			color: inherit;
			font-size: 1.5em;
			font-weight: bold;
		}
		.game-details-wrapper {
			flex-grow: 1;
			.date {
				font-weight: 600;
			}
			.game-countdown {
				margin-top: 4pt;
				display: block;
				@media #{$mobile-only} {
					display: grid;
					grid-template-columns: 1fr 1fr;
				}
			}
		}
	}

	@media #{$mobile-only} {
		.game-icons {
			display: none;
		}
	}

	@media #{$desktop-and-tablet} {
		.game-icons {
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				max-width: 60pt;
				max-height: 40pt;
				margin: 2pt 0;
			}
		}
	}
}

.game-countdown {
	font-weight: bold;
	.group {
		display: inline-block;
		.value {
			width: 2em;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			display: inline-block;
			padding: 4pt;
			text-align: center;
			background: #fff;
			color: #222;
		}
		.label {
			margin-left: 4pt;
			text-transform: uppercase;
		}
		&:not(:last-child) {
			margin-right: 10pt;
		}
	}
}

.game-list {
	display: grid;
	padding-bottom: 20pt;

	@media #{$mobile-and-tablet} {
		grid-gap: 10pt;
	}
	@media #{$desktop-only} {
		grid-gap: 20pt;
		grid-template-columns: 1fr 1fr;
		.game-card:first-child {
			.team-badge {
				padding: 4%;
			}
			padding-top: 20%;
			grid-column: 1 / -1;
		}
	}
}

.game-page {
	section:not(.header) {
		padding: 18pt 0;
		&:nth-child(odd) {
			background-color: rgba(255, 255, 255, 0.3);
		}
		@media #{$mobile-and-tablet} {
			padding: 4pt 0 10pt;
		}
	}
	section.header {
		@include noTextSelect;
		$gameInfoBackground: rgba(0, 0, 0, 0.7);
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		position: relative;

		.game-header-image {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			object-fit: cover;
		}

		.game-details {
			z-index: 2;
			.container {
				color: white;
				text-transform: uppercase;
				font-weight: 600;
				padding: 0;

				.tv-logo {
					height: 20pt;
					padding: 2pt;
				}
			}
		}

		.team-banners {
			@include noTextSelect;
			box-shadow: 0 4pt 4pt rgba(0, 0, 0, 0.3);

			.team-banner {
				position: relative;

				.trim {
					@include desktopOnly;
					display: flex;
					flex-direction: column;
					justify-content: center;
					position: absolute;
					height: 100%;
					top: 0;
					z-index: 1;
					width: 100%;

					span {
						height: 20%;
						width: 100%;
						display: block;
					}
				}

				.container {
					background: inherit;
					z-index: 2;
				}

				.team-image {
					height: 40pt;
					width: 50pt;
					margin: 4pt 12pt 4pt 4pt;
					object-fit: contain;
					@include desktopOnly;
				}

				h4 {
					display: flex;
					align-items: center;
					font-size: 24pt;
					color: inherit;
					.teamname {
						flex-grow: 1;
					}
				}
			}
		}

		@media #{$mobile-and-tablet} {
			background-size: cover;
			min-height: 50vh;
			flex-direction: column-reverse;
			justify-content: start;
			.game-details {
				background: $gameInfoBackground;
				text-align: center;
				width: 100%;
				ul {
					flex-direction: column;
					li {
						padding: 4pt;
						&:not(:last-child) {
							border-bottom: solid 1pt $gold;
						}
					}
				}
			}
			.team-banners {
				.team-banner {
					h4 {
						font-size: 20pt;
						padding-left: 4pt;
					}
				}
			}
		}

		@media #{$desktop-only} {
			background-position: center top;
			background-size: contain;
			background-attachment: fixed;
			height: 30vw;
			.game-details {
				width: 100%;
				.container::after,
				ul {
					background: $gameInfoBackground;
					display: inline-flex;
				}
				.container {
					&::after {
						display: block;
						position: absolute;
						right: 100%;
						top: 0;
						width: 100%;
						height: 100%;
						content: "";
					}
					ul {
						padding-right: 4pt;
						border-radius: 0 8pt 0 0;
						li {
							padding: 0 8pt;
							margin: 4pt 0;

							span {
								padding: 4pt 0;
								display: inline-block;
							}
							&:not(:last-child) {
								border-right: solid 1pt $gold;
							}
						}
					}
				}
			}

			.team-banner {
				.container {
					&::after,
					&::before {
						content: "";
						position: absolute;
						right: 100%;
						top: 0;
						background: inherit;
						height: 100%;
						width: 14pt;
						-webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
						clip-path: polygon(100% 0, 0% 100%, 100% 100%);
					}

					&::before {
						right: 100%;
						transform: translateX(1px);
						-webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
						clip-path: polygon(100% 0, 0% 100%, 100% 100%);
					}
					&::after {
						left: 100%;
						-webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
						clip-path: polygon(100% 0, 0% 100%, 0 0);
					}
				}
			}
		}
	}

	section.countdown {
		@include noTextSelect;
		text-align: center;
		font-size: 20pt;
		transition: height 300ms, opacity 300ms, padding 300ms;
		&.completed {
			height: 0;
			opacity: 0;
			padding: 0;
			overflow: hidden;
		}
		.value {
			color: white;
			background: $claret;
		}
		@media #{$mobile-and-tablet} {
			.game-countdown {
				text-align: left;
			}
			.group {
				display: block;
			}
		}
	}
}
