.league-table {
	width: 100%;
	th,
	td {
		vertical-align: middle;
	}
	thead th {
		position: relative;
		text-align: center;
	}
	tbody {
		tr {
			border-color: rgba(black, 0.05);
			th,
			td {
				background: transparent;
				color: inherit;
				padding-top: 8pt;
				padding-bottom: 8pt;
			}
			&:hover {
				th,
				td {
					background: rgba(black, 0.05);
				}
			}
			background: white;
			&.champions {
				background: #518c56;
				color: white;
			}
			&.top {
				background: #77b66b;
				color: white;
			}
			&.bottom {
				background: #b63c3d;
				color: white;
			}
			&.local {
				background: $claret;
				color: $gold;
				font-weight: bold;
			}
			th {
				font-weight: 600;
				&.team-badge {
					text-align: center;
					img {
						max-height: 20pt;
					}
				}
				&.team-name {
					text-align: left;
					width: 100%;
				}
			}
			td {
				text-align: center;
			}
		}
	}
	@media #{$desktop-and-tablet} {
		thead th {
			padding-top: 16pt;
			padding-bottom: 16pt;
			.competition-logo {
				position: absolute;
				padding: 6pt;
				z-index: 2;
				max-height: 100%;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}
	@media #{$mobile-only} {
		.team-name,
		.Pld,
		.F,
		.A {
			display: none;
		}
		.competition-logo {
			display: none;
		}
	}
}
