/*
 *
 * VARIABLES
 *
 */

//External files
//GOOGLE-BUCKET-NAME is replaced through a custom loader
$googleBucket: "https://storage.googleapis.com/GOOGLE-BUCKET-NAME/";
$fonts: "#{$googleBucket}fonts/";
$layoutImages: "#{$googleBucket}images/layout/";

//Colours
//$mainColour and $trimColour are defined through a custom
//webpack loader. We set them as transparent beacuse we need
//some kind of valid colour for the scss to compile.
$mainColour: transparent;
$trimColour: transparent;

$twitterBlue: #549ad6;

//Media queries
$mobile-only: "only screen and (max-width:700px)";
$mobile-and-tablet: "only screen and (max-width: 778px)";
$desktop-and-tablet: "only screen and (min-width: 700px)";
$desktop-only: "only screen and (min-width: 778px)";

//Default properties
$transition: all 300ms;

//Utility Classes
@mixin header {
	font-family: "Montserrat";
	font-weight: 600;
	text-transform: uppercase;
}
@mixin link {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	font-weight: bold;
	&:hover {
		color: $trimColour;
	}
}

@mixin mobileOnly {
	@media #{$desktop-only} {
		display: none !important;
	}
}
@mixin desktopOnly {
	@media #{$mobile-and-tablet} {
		display: none !important;
	}
}

.mobile-only {
	@include mobileOnly;
}

.desktop-only {
	@include desktopOnly;
}

@mixin pseudoImage {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

/*
 *
 * STYLING
 *
 */

@import "base";

body {
	background: #ddd;
}

*::-webkit-scrollbar {
	width: 8pt;
}

*::-webkit-scrollbar-track {
	background-color: #eee;
}

*::-webkit-scrollbar-thumb {
	background-color: #333;
}

.page-header {
	background: #fff;
	margin-bottom: 0;
	padding-top: 10pt;
	h1 {
		margin: 0;
		select {
			&.with-border {
				padding: 4pt 14pt;
				border-radius: 4pt;
				border: solid thin rgba($mainColour, 0.2);
			}
		}
	}

	&::after {
		content: " ";
		width: 100%;
		height: 20pt;
		background-color: transparent;
		background-image: url("#{$googleBucket}images/layout/header-divider.png");
		background-repeat: repeat-x;
		background-size: contain;
		transform: translateY(90%);
		display: block;
		margin-bottom: 40pt;
	}

	&.no-margin::after {
		margin-bottom: 0;
	}
}

.sub-menu {
	text-align: center;
	a,
	.pseudo-link {
		cursor: pointer;
		padding: 0 8pt;
		display: inline-block;
		color: #aaa;
		font-weight: bold;
		font-size: 14pt;
		transition: color 100ms;

		&.hidden {
			display: none;
		}

		/* active links */
		&.active,
			/* links next to hidden active links*/
		&.active.hidden + a,
			/* first visible link after a hidden active link */
		&.active.hidden ~ .hidden + a {
			color: $mainColour !important;
			pointer-events: none;
		}

		&:hover {
			color: #666;
		}

		&:not(:last-child) {
			border-right: solid 1pt #ccc;
		}
	}
	/* override for dark backgrounds */
	&.light {
		a,
		.pseudo-link {
			color: #eee;
			border-color: #eee;
			&:hover {
				color: #fff;
			}

			&.active,
			&.active.hidden + a,
			&.active.hidden ~ .hidden + a {
				color: $trimColour !important;
			}
		}
	}
}

.table-wrapper {
	.table thead th {
		position: sticky;
		top: 0;
		z-index: 2;
	}

	@media #{$mobile-and-tablet} {
		overflow: auto;
		max-width: 100%;
		max-height: 90vh;

		.table tbody td,
		.table tbody th {
			white-space: nowrap;
		}
	}
}

.table {
	user-select: none;
	box-shadow: 2pt 2pt 2pt rgba(black, 0.4);
	width: 100%;
	th,
	td {
		padding: 4pt 8pt;
		text-align: left;
		& > input,
		.react-select,
		&.stretch {
			width: 100%;
		}
		vertical-align: middle;
	}
	thead {
		&.sticky {
			position: relative;
			th {
				top: 0;
				position: sticky;
				z-index: 2;
			}
		}
		th.sortable {
			cursor: pointer;
			.sort-arrow {
				width: 11pt;
				display: inline-block;
				text-align: center;
				opacity: 0;
			}

			&:hover,
			&.sorted {
				color: $trimColour;
				.sort-arrow {
					opacity: 1;
				}
			}
		}
		th {
			background: $mainColour;
			color: white;
			white-space: nowrap;
		}
	}
	tbody {
		tr {
			border-bottom: solid thin #ddd;
			td,
			th {
				background: white;
			}
			&.disabled {
				background: #fc0;
			}
		}
		tr:hover {
			td,
			th {
				background: #f8f8f8;
			}
		}
		tr.disabled {
			td,
			th {
				background: #e4e4e4;
			}
		}
	}
	tfoot {
		color: white;
		th,
		td {
			background: #222;
		}
		&.sticky {
			position: relative;
			th,
			td {
				bottom: 0;
				position: sticky;
				z-index: 2;
			}
		}
	}
}

.list-filters {
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10pt;

	.list-filter {
		width: 100%;
		padding: 0 8pt;
	}

	@media #{$desktop-only} {
		.list-filter {
			flex-grow: 1;
		}
	}
	@media #{$mobile-and-tablet} {
		flex-direction: column;
		.list-filter:not(:first-child) {
			margin-top: 4pt;
		}
	}
}

.page-switch {
	display: flex;
	margin-bottom: 14pt;
	div {
		flex-grow: 1;
		width: 100%;
		padding: 6pt 4pt;
		background: #fff;
		cursor: pointer;
		text-align: center;
		&:hover {
			background: #eee;
		}
		&.active {
			pointer-events: none;
			background: $mainColour;
			color: white;
			font-weight: 600;
		}
	}

	@media #{$mobile-only} {
		flex-direction: column;
		div {
			border: solid 1pt #555;
			border-radius: 4pt;
			overflow: hidden;
			&:not(:last-child) {
				margin-bottom: 4pt;
			}
		}
	}
	@media #{$desktop-and-tablet} {
		border-radius: 4pt;
		overflow: hidden;
		div:not(.active) + div:not(.active) {
			border-left: solid thin #eee;
		}
	}
}

.card {
	box-shadow: 3pt 3pt 4pt rgba(0, 0, 0, 0.5);
	transition: box-shadow 200ms;
	-webkit-font-smoothing: antialiased;
}
a.card:hover {
	box-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.5);
}
.single-stat-boxes {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	user-select: none;

	display: grid;
	grid-gap: 20pt;

	.single-stat-box {
		height: 100%;
		display: block;
		background: #f4f4f4;
		display: flex;
		flex-grow: 1;
		text-align: center;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-left: solid 10pt $mainColour;

		.total {
			font-size: 2.5em;
			font-weight: 200;
		}
		.name {
			font-weight: 600;
			width: 100%;
			margin-bottom: 4pt;
		}

		.name + * {
			padding-top: 4pt;
			border-top: solid 2pt $mainColour;
		}

		.average,
		.best,
		.extra {
			font-size: 0.9em;
		}

		&.percentage {
			svg {
				fill: transparent;
				stroke-width: 3.75;
				position: relative;
				max-height: 120pt;
			}
			.donut-segment {
				stroke: $mainColour;
			}
			text.total {
				text-anchor: middle;
				font-size: 50%;
				font-weight: 400;
				fill: black;
			}
		}
	}

	@media #{$mobile-only} {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		.single-stat-box {
			padding: 10pt;
			.total {
				font-size: 1.4em;
				font-weight: 400;
			}
		}
	}
	@media #{$desktop-and-tablet} {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		.single-stat-box {
			padding: 20pt;
			.total {
				font-size: 2.5em;
				font-weight: 200;
			}
		}
	}
}

button,
.button {
	background: #333;
	color: white;
	font-size: 12pt;
	padding: 4pt 8pt;
	outline: none;
	cursor: pointer;
	border-radius: 2pt;

	&:hover {
		background: #444;
	}

	&:active {
		background: #666;
	}

	&:disabled {
		cursor: default;
		opacity: 0.2;
	}
}

.stat-tables {
	padding-bottom: 20pt;
	user-select: none;
	.stat-table-tabs {
		div {
			cursor: pointer;
			display: inline-block;
			padding: 10pt;
			font-weight: 600;
			background-color: white;
			&:hover {
				background-color: #f8f8f8;
			}
			&.active {
				background: $mainColour;
				color: white;
				pointer-events: none;
			}
			&:not(.active):not(:last-child) {
				border-right: #999;
			}
		}
	}
	.stat-table-wrapper {
		position: relative;
		&:not(.no-max-height) {
			max-height: 80vh;
		}
		max-width: 100%;
		overflow: auto;
		box-shadow: 2pt 2pt 4pt rgba(black, 0.3);
		table {
			width: 100%;
			th.sortable {
				padding-left: 11pt;
			}
			th,
			td {
				text-align: center;
			}
			th:first-child {
				left: 0;
				z-index: 3;
				position: sticky;
			}
			tfoot {
				th,
				td {
					.total {
						display: block;
					}
				}
			}
			thead th:first-child,
			tfoot th:first-child {
				z-index: 5;
			}
			tbody {
				th {
					white-space: nowrap;
					padding: 0;
					width: 100%;
					a {
						padding: 4pt;
						display: block;
						white-space: nowrap;
						&:hover {
							color: lighten($mainColour, 5%);
						}
						img {
							max-height: 30pt;
						}
						.title {
							font-weight: normal;
							@media #{$mobile-only} {
								display: none;
							}
						}
					}
					@media #{$mobile-only} {
						.date.desktop {
							display: none;
						}
					}
					@media #{$desktop-and-tablet} {
						.date.mobile {
							display: none;
						}
					}
				}
			}
			td,
			th {
				vertical-align: middle;
				padding: 4pt;
			}
		}
	}
}

.pop-up-dialog-bg {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: rgba(0, 0, 0, 0.5);
	z-index: 4000;
	display: flex;
	align-items: center;
	justify-content: center;
	.pop-up-dialog {
		margin-bottom: 0;
		max-height: 90vh;
		width: 90vw;
		overflow: auto;

		@media #{$desktop-and-tablet} {
			&:not(.full-size) {
				min-width: 400px;
				max-width: 700px;
			}
		}
	}
}
.info-table {
	padding: 16pt;
	background: #f4f4f4;
	box-shadow: 2pt 2pt 4pt rgba(black, 0.5);
	table {
		width: 100%;
		th,
		td {
			padding: 10pt;
		}
		th {
			white-space: nowrap;
		}
		td {
			width: 100%;
		}
		tr {
			text-align: left;
			&:not(:last-child) {
				border-bottom: solid thin #ddd;
			}
		}
		.twitter {
			vertical-align: middle;
			img {
				max-height: 16pt;
				margin-right: 6pt;
			}
		}
	}
}

.privacy-policy-page {
	p:not(:last-child) {
		margin-bottom: 10pt;
	}
}

@import "../../node_modules/megadraft/lib/styles/megadraft";
@import "toast";
@import "header";
@import "admin";
@import "forms";
@import "errors";
@import "loading";
@import "homepage";
@import "awards";
@import "games";
@import "maps";
@import "socialSharer";
@import "teamSelector";
@import "teams";
@import "news";
@import "seasons";
@import "people";
@import "tweet-composer";
