//Sources
$googleBucket: "https://storage.googleapis.com/feefifofum/";
$fonts: "#{$googleBucket}fonts/";
$layoutImages: "#{$googleBucket}images/layout/";

//Colours
$claret: #751432;
$gold: #ffcc00;
$twitterBlue: #549ad6;

//Fonts
@font-face {
	font-family: "Monstro Solid";
	src: url("#{$fonts}MonstroSolid.eot"); /* IE9 Compat Modes */
	src: url("#{$fonts}MonstroSolid.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("#{$fonts}MonstroSolid.woff") format("woff"),
		/* Pretty Modern Browsers */ url("#{$fonts}MonstroSolid.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("#{$fonts}MonstroSolid.svg#svgFontName") format("svg"); /* Legacy iOS */
}

//Media queries
$mobile-only: "only screen and (max-width:699px)";
$mobile-and-tablet: "only screen and (max-width: 777px)";
$desktop-and-tablet: "only screen and (min-width: 700px)";
$desktop-only: "only screen and (min-width: 778px)";

//Default properties
$transition: all 300ms;

//Utility Classes
@mixin header {
	font-family: "Montserrat";
	font-weight: 600;
	text-transform: uppercase;
}
@mixin link {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	&:hover {
		color: $gold;
	}
}

@mixin mobileOnly {
	@media #{$desktop-only} {
		display: none !important;
	}
}
@mixin desktopOnly {
	@media #{$mobile-and-tablet} {
		display: none !important;
	}
}

.mobile-only {
	@include mobileOnly;
}

.desktop-only {
	@include desktopOnly;
}

@mixin pseudoImage {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
