.post-preview {
	@include pseudoImage;
	background-size: cover;
	padding-top: 30%;
	box-shadow: 2pt 2pt 4pt rgba(0, 0, 0, 0.4);
	&:hover p {
		color: #444;
	}
	.post-image {
		@include pseudoImage;
		background-size: cover;
		padding-top: 40%;
	}
	.post-meta {
		background: rgba($claret, 0.9);
		padding: 4%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title {
			color: $gold;
			font-size: 14pt;
			margin-bottom: 6pt;
		}
		.title {
		}
		h6 {
			padding-top: 6pt;
			border-top: solid thin $gold;
			color: white;
			display: flex;
			justify-content: space-between;
		}
	}
}

.news-post {
	.post-wrapper {
		padding: 14pt 0;
		.post-header,
		.post-body {
			line-height: 1.4;
			box-shadow: 2pt 2pt 4pt rgba(0, 0, 0, 0.4);
		}

		.post-header {
			@include noTextSelect;
			h6 {
				color: white;
			}
			&,
			& h1 {
				color: $gold;
				text-align: left;
			}
		}

		.post-body {
			background: #f4f4f4;
			padding: 4%;
			p {
				margin-bottom: 8pt;
			}
			h6 {
				font-size: 16pt;
				&:not(:first-child) {
					margin-top: 12pt;
				}
			}
		}

		.other-posts {
			position: sticky;
			top: 0;
			h4 {
				font-size: 16pt;
			}
			.post-preview {
				margin: 10pt 0;
			}
		}
	}

	@media #{$desktop-and-tablet} {
		.post-wrapper {
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-gap: 10pt;
			.post-header {
				grid-column: span 2;
				h1 {
					font-size: 3em;
				}
				h6 {
					font-size: 13pt;
				}
			}
		}
	}
}

.post-list {
	display: grid;
	grid-gap: 12pt;
	.post-preview {
		height: 100%;
	}
	@media #{$mobile-only} {
		grid-template-columns: 1fr;
	}

	@media #{$desktop-and-tablet} {
		grid-template-columns: repeat(auto-fill, minmax(280pt, 1fr));
	}
}
.post-pagination {
	ul {
		@include noTextSelect;
		display: flex;
		justify-content: center;
		margin: 20pt 0;
		a {
			width: 20pt;
			height: 20pt;
			margin: 0 4pt;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			border-radius: 100%;

			&.current-page {
				pointer-events: none;
				background: $claret;
				color: white;
			}

			@media #{$desktop-only} {
				&:hover {
					color: $claret;
					background: rgba(white, 0.8);
				}
			}
		}
	}
}
