.person-card-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 20%;
	transition: transform 200ms, box-shadow 200ms;
	-webkit-font-smoothing: antialiased;

	&:hover {
		transform: translateY(-2px);
		.person-card {
			box-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.5);
		}
	}

	.person-card {
		display: flex;
		height: 100%;
		border-radius: 0 4pt;
		overflow: hidden;
		box-shadow: 3pt 3pt 4pt rgba(0, 0, 0, 0.5);

		.trim,
		.main {
			display: flex;
			flex-direction: column;
		}
		.trim {
			background: white;
			font-family: "Montserrat";
			font-weight: bold;
			font-size: 14pt;
			color: $claret;
			min-width: 30%;
			padding: 10pt;
		}
		.main {
			background: $claret;
			flex-grow: 1;
			justify-content: flex-end;
			padding: 20pt 10pt 20pt 23%;
			color: white;
			.name {
				color: inherit;
				font-size: 16pt;
				span {
					color: $gold;
					display: block;
				}
			}
			.positions {
				color: #ddd;
			}
		}
	}
	.person-image-wrapper {
		position: absolute;
		display: flex;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		max-height: 100%;
		width: 100%;
		align-items: flex-start;
		overflow: hidden;
		.person-image {
			pointer-events: none;
			top: 0;
			margin-left: 6%;
			width: 45%;
		}
	}
}

.person-page {
	section.header {
		position: relative;
		overflow: hidden;
		.container {
			.overlay {
				color: white;
				h1 {
					color: white;
					line-height: 1.1;
					span {
						color: $gold;
					}
				}
				.positions {
					margin-bottom: 4pt;
					.position {
						font-size: 14pt;
						padding: 0 4pt;
						display: inline-block;
						&:first-child {
							padding-left: 0;
							font-weight: 600;
						}
						&:not(:first-child) {
							border-left: solid 1pt rgba(white, 0.4);
							opacity: 0.8;
						}
					}
				}
				.social {
					a {
						display: flex;
						align-items: center;
						vertical-align: middle;
					}
				}
			}
		}

		@media #{$mobile-and-tablet} {
			background: darken($claret, 5%);
			.container {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				max-height: 100%;
				padding-left: 0;
				padding-right: 0;
				.image {
					height: 50vh;
				}
				.overlay {
					padding: 10pt;
					background: $claret;
					width: 100%;
					h1,
					.social {
						border-width: 1pt;
					}
					h1 {
						font-size: 1.8em;
						margin-bottom: 2pt;
						span {
							display: inline-block;
						}
					}
					.social {
						display: flex;
						justify-content: space-around;
						a {
							font-size: 11pt;
							margin-bottom: 2pt;
							img {
								height: 12pt;
								margin-right: 8pt;
							}
						}
					}
					.positions {
						text-align: center;
					}
				}
			}
		}
		@media #{$desktop-only} {
			height: 40vh;
			.background {
				position: absolute;
				height: 100%;
				top: 0;
				bottom: 0;
				margin: auto;
				z-index: -1;
				background-size: cover;
				background-position: 100% 50%;
				background-repeat: no-repeat;
				background-image: url("#{$googleBucket}layout/john-smiths.jpg");
				left: 0;
				width: 60%;
				filter: blur(2px);
			}
			.container {
				display: flex;
				align-items: stretch;
				.overlay {
					background: darken($claret, 5%);
					position: relative;
					flex-grow: 1;
					margin-left: 10%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 20pt;
					color: white;

					&::before,
					&::after {
						content: "";
						position: absolute;
						height: 100%;
						top: 0;
						bottom: 0;
					}
					&::after {
						right: 99%;
						width: 30%;
						background-image: url("#{$googleBucket}layout/player-header-divider.png");
						@include pseudoImage;
						background-size: cover;
						background-position: right center;
					}
					&::before {
						background: inherit;
						left: 99%;
						width: 400vw;
					}

					.positions {
						padding-bottom: 4pt;
					}
					h1 {
						text-align: left;
						font-size: 4em;
						line-height: 1.1;
						border-bottom: solid 2pt $gold;
						span {
							display: block;
						}
					}

					.social {
						padding: 8pt 0;
						border-top: solid 2pt white;
						a {
							font-size: 14pt;
							margin-bottom: 4pt;
							img {
								height: 20pt;
								margin-right: 10pt;
							}
						}
					}
				}
				.image {
					max-height: 40vh;
					margin-right: 5%;
					pointer-events: none;
				}
			}
		}
	}

	section.person-data {
		padding: 20pt 0;
		.container {
			display: grid;
			grid-gap: 20pt;
			& > div {
				padding: 4%;
				background: #f4f4f4;
				box-shadow: 2pt 2pt 4pt rgba(black, 0.5);
				&.info-table {
					table {
						width: 100%;
						th,
						td {
							padding: 10pt;
						}
						tr {
							text-align: left;
							&:not(:last-child) {
								border-bottom: solid thin #ddd;
							}
						}
					}
				}
				&.description {
					p {
						margin-bottom: 8pt;
					}
				}
			}

			@media #{$desktop-only} {
				grid-template-columns: 1fr 1fr;
			}
		}
	}

	section.player-stats {
		.section-header {
			background: darken($claret, 5%);
			padding: 20pt 0;
			h1,
			h2,
			h4 {
				color: white;
			}

			h1 option {
				color: black;
			}
		}
		h2 {
			font-size: 2em;
			text-align: center;
			margin: 8pt 0 4pt;
		}

		.no-games-found {
			text-align: center;
			font-size: 2em;
			padding-top: 20pt;
			padding-bottom: 20pt;
		}

		.single-stat-boxes {
			margin-bottom: 10pt;
			&.positions {
				table {
					width: 100%;
					text-align: left;
					white-space: nowrap;
					vertical-align: middle;
					th,
					td {
						box-sizing: border-box;
						padding: 4pt 10pt;
					}
					td {
						width: 100%;
						position: relative;
						.position-bar {
							color: white;
							font-weight: bold;
							padding: 4pt 10pt;
							text-align: right;
							background-color: $claret;
							height: 80%;
							display: block;
							border-radius: 4pt 10pt 10pt 4pt;
						}
					}
				}
				@media #{$mobile-only} {
					grid-template-columns: 1fr;
				}
				@media #{$desktop-and-tablet} {
					grid-template-columns: 1fr 2fr;
				}
			}
		}
	}
}
