.person-card-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 20%;
	transition: transform 200ms, box-shadow 200ms;
	-webkit-font-smoothing: antialiased;

	&:hover {
		transform: translateY(-2px);
		.person-card {
			box-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.5);
		}
	}

	.person-card {
		display: flex;
		height: 100%;
		border-radius: 0 4pt;
		overflow: hidden;
		box-shadow: 3pt 3pt 4pt rgba(0, 0, 0, 0.5);

		.trim,
		.main {
			display: flex;
			flex-direction: column;
		}
		.trim {
			background: white;
			font-family: "Montserrat";
			font-weight: bold;
			font-size: 14pt;
			color: $claret;
			min-width: 30%;
			padding: 10pt;
		}
		.main {
			background: $claret;
			flex-grow: 1;
			justify-content: flex-end;
			padding: 20pt 10pt 20pt 23%;
			color: white;
			.name {
				color: inherit;
				font-size: 16pt;
				span {
					color: $gold;
					display: block;
				}
			}
			.positions {
				color: #ddd;
			}
		}
	}
	.person-image-wrapper {
		position: absolute;
		display: flex;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		max-height: 100%;
		width: 100%;
		align-items: start;
		overflow: hidden;
		.person-image {
			pointer-events: none;
			top: 0;
			margin-left: 6%;
			width: 45%;
		}
	}
}

.person-page {
	section.header {
		position: relative;
		height: 40vh;
		overflow: hidden;
		.background {
			position: absolute;
			height: 100%;
			top: 0;
			bottom: 0;
			margin: auto;
			z-index: -1;
			background-size: cover;
			background-position: 100% 50%;
			background-repeat: no-repeat;
			background-image: url("#{$googleBucket}layout/john-smiths.jpg");
			left: 0;
			width: 60%;
			filter: blur(2px);
		}
		.container {
			display: flex;
			align-items: stretch;
			.overlay {
				background: darken($claret, 5%);
				position: relative;
				flex-grow: 1;
				margin-left: 10%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 20pt;
				color: white;

				&::before,
				&::after {
					content: "";
					position: absolute;
					height: 100%;
					top: 0;
					bottom: 0;
				}
				&::after {
					right: 99%;
					width: 20%;
					background-image: url("#{$googleBucket}layout/player-header-divider.png");
					@include pseudoImage;
					background-size: cover;
					background-position: right center;
				}
				&::before {
					background: inherit;
					left: 99%;
					width: 400vw;
				}

				h1 {
					text-align: left;
					color: white;
					font-size: 4em;
					line-height: 1.1;
					border-bottom: solid 2pt $gold;
					span {
						color: $gold;
						display: block;
					}
				}

				.social {
					border-bottom: solid 2pt white;
					margin-bottom: 4pt;
					padding-bottom: 4pt;
					a {
						display: flex;
						align-items: center;
						font-size: 14pt;
						margin-bottom: 4pt;
						img {
							height: 20pt;
							margin-right: 10pt;
						}
					}
				}
				.position {
					font-size: 14pt;
					&.other-position {
						color: #ccc;
					}
				}
			}
			.image {
				max-height: 40vh;
				margin-right: 5%;
			}
		}
	}

	section.person-data {
		padding: 20pt 0;
		.container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 20pt;
			& > div {
				padding: 4%;
				background: #f4f4f4;
				box-shadow: 2pt 2pt 4pt rgba(black, 0.5);
				&.info-table {
					table {
						width: 100%;
						th,
						td {
							padding: 10pt;
						}
						tr {
							text-align: left;
							&:not(:last-child) {
								border-bottom: solid thin #ddd;
							}
						}
					}
				}
				&.description {
					p {
						margin-bottom: 8pt;
					}
				}
			}
		}
	}
}
