@import "variables";
@import "base";

body {
	background: #ddd;
}

body::-webkit-scrollbar {
	width: 8pt;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: #333;
}

.page-header {
	background: #fff;
	margin-bottom: 0;
	padding-top: 10pt;
	h1 {
		margin: 0;
	}
	.sub-menu {
		text-align: center;
		padding-bottom: 10pt;
		a {
			padding: 0 8pt;
			display: inline-block;
			color: #aaa;
			font-weight: bold;
			font-size: 14pt;
			transition: color 100ms;

			&.hidden {
				display: none;
			}

			/* active links */
			&.active,
			/* links next to hidden active links*/
			&.active.hidden + a,
			/* first visible link after a hidden active link */
			&.active.hidden ~ .hidden + a {
				color: $claret;
				pointer-events: none;
			}

			&:hover {
				color: #666;
			}

			&:not(:last-child) {
				border-right: solid 1pt #ccc;
			}
		}
	}

	&::after {
		content: " ";
		width: 100%;
		height: 20pt;
		background-color: transparent;
		background-image: url("https://www.giantsfanzine.co.uk/resources/newsite/paper.png");
		background-repeat: repeat-x;
		background-size: contain;
		transform: translateY(90%);
		display: block;
		margin-bottom: 40pt;
	}
}

.list-filters {
	display: flex;
	justify-content: center;
	align-items: center;

	select {
		background: #fdfdfd;
		width: 100%;
		padding: 4pt 8pt;
		font: inherit;
		border-radius: 4pt;
		outline: none;
		option {
			outline: none !important;
		}
	}

	@media #{$desktop-only} {
		.list-filter {
			flex-grow: 1;
			width: 100%;
			padding: 0 8pt;
		}
	}
	@media #{$mobile-and-tablet} {
		flex-direction: column;
		.list-filter {
			width: 100%;
		}
	}
}

.card {
	box-shadow: 3pt 3pt 4pt rgba(0, 0, 0, 0.5);
	transition: transform 200ms, box-shadow 200ms;
	-webkit-font-smoothing: antialiased;

	&:hover {
		transform: translateY(-2px);
		box-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.5);
	}
}
.single-stat-boxes {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	@include noTextSelect;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20pt;

	.single-stat-box {
		height: 100%;
		display: block;
		background: #f4f4f4;
		padding: 20pt;
		display: flex;
		flex-grow: 1;
		text-align: center;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.total {
			font-size: 2.5em;
			font-weight: 200;
		}
		.name {
			font-weight: 600;
			width: 100%;
			margin-bottom: 4pt;
		}

		.average {
			padding-top: 4pt;
			border-top: solid 2pt $claret;
		}

		.average,
		.best {
			font-size: 0.9em;
		}

		&.percentage {
			svg {
				fill: transparent;
				stroke-width: 3.75;
				position: relative;
				max-height: 120pt;
			}
			.donut-segment {
				stroke: $claret;
			}
			text.total {
				text-anchor: middle;
				font-size: 50%;
				font-weight: 400;
				fill: black;
			}
		}
	}
}

.stat-tables {
	$table-bg: #fdfdfd;
	$table-col: black;
	$table-header-bg: darken($claret, 5%);
	$table-header-col: white;
	$table-border: solid thin #ddd;
	.stat-table-tabs {
		div {
			cursor: pointer;
			display: inline-block;
			padding: 10pt;
			font-weight: 600;
			background-color: $table-bg;
			color: $table-col;
			&:hover {
				background-color: darken($table-bg, 5%);
			}
			&.active {
				background: $table-header-bg;
				color: $table-header-col;
				pointer-events: none;
			}
			&:not(.active):not(:last-child) {
				border-right: $table-border;
			}
		}
	}
	.stat-table {
		width: 100%;
		background-color: $table-bg;
		color: $table-col;
		text-align: center;

		thead {
			background: $table-header-bg;
			color: $table-header-col;
			position: sticky;
			top: 0;
			th {
				padding: 10pt 4pt;
			}
		}
		tbody {
			tr {
				&:not(:last-child) {
					border-bottom: $table-border;
				}
			}
		}
		td,
		th {
			vertical-align: middle;
			padding: 4pt;
		}
		img {
			max-height: 20pt;
		}
	}
}

@import "header";
@import "admin";
@import "loading";
@import "homepage";
@import "games";
@import "teams";
@import "news";
@import "people";
