//Colours
$claret: #751432;
$gold: #ffcc00;

//Media queries
$mobile-and-tablet: "only screen and (max-width: 777px)";
$desktop-and-tablet: "only screen and (min-width: 700px)";
$desktop-only: "only screen and (min-width: 778px)";
$mobile-only: "only screen and (max-width:699px)";

//Default properties
$transition: all 300ms;

//Utility Classes
@mixin header {
	font-family: "Montserrat";
	font-weight: 600;
	text-transform: uppercase;
}
@mixin link {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	&:hover {
		color: $gold;
	}
}
@mixin mobileOnly {
	@media #{$desktop-only} {
		display: none;
	}
}
@mixin desktopOnly {
	@media #{$mobile-and-tablet} {
		display: none;
	}
}

@mixin noTextSelect {
	user-select: none;
}

@mixin pseudoImage {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
